{% extends "skinnyit/subpage.html" %}
{% block title %}Terms &amp; Conditions : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container secPad">
	<div class="row">
	<div class="col-sm-8 secPad">
		<h1>Terms &amp; Conditions</h1>
		<p>This is an agreement ("Agreement"). Please read this Agreement carefully. By purchasing and/or using Media Temple's products and services (the "Service") described and offered on and throughout http://www.mediatemple.net (our "Website"), you are agreeing to the terms of this Agreement. You are also agreeing to the terms of our <a href="/privacy/">Privacy Policy</a>.</p>
		<p>In this Agreement, when we say "you," "your," and "Customer", we mean the owner of the Media Temple (mt) Account and the person or entity utilizing the Service. When we say "we," "our," "us," "Provider," "(mt)" and "Media Temple", we mean Media Temple, Inc.</p>
		<p>There may be other agreements that govern our relationship besides this one. This Agreement is maintained independently of any other agreement(s) between us and you, even if we are engaged in other service agreements or arrangements such as professional services, software development, or web development. The following policies, agreements and supplements are incorporated into this Agreement by reference: Forum Usage Policy, Affiliate Center Terms and Conditions, and the Beta Participation Agreement. We may also offer or provide services from time to time through third parties that are governed by the terms and conditions of the respective service providers. Those terms and conditions are either referenced in this Agreement, below, or will be made available to you at the time of your purchase of the particular service. By using that service, you agree to be further bound by any rules that are applicable to Media Temple with respect to those service providers.</p>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-8 secPad">
		<h2>Definitions</h2>
		<p>For the purposes of this Agreement, the following definitions apply and any undefined terms have the meaning ascribed to them in the context in which they are used in this Agreement:</p>
		
		<ul>
			<li>&ldquo;Service&rdquo; collectively refers to all of the products and services Media Temple offers and provides, including, but not limited to the installation, maintenance and repair of one or more shared or physical computers for use by customers. For more information on Service, please visit our Website.</li>
			<li>&ldquo;Network Transfer&rdquo; refers to the finite amount of Provider&lsquo;s network transfer (bandwidth) capability for use by Customer using the Service requested by Customer.</li>
			<li>&ldquo;Grid Performance Unit&rdquo; or &ldquo;(GPU)&rdquo; refers to the measurement derived from the central processing unit (&ldquo;(CPU)&rdquo;) time required by every single hit/request made to a (gs) Grid-Service. This includes web server activity, programs, scripts and all associated parent and child processes across all nodes within the system. Specifically, 1000 GPUs is equivalent to running a continuous 10% load on one processor for a 30-day month. More information here.</li>
		</ul>
	</div>
	</div>
</div>

	
{% endblock %}
