{% extends "skinnyit/subpage.html" %}
{% block title %}Engineering : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Built for speed &mdash; and the bottom line.</h2>
	</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<p>Skinny IT offers network engineering services that address any need and any budget. Our engineers and technical staff members can work alongside your staff, on-site or off, or provide turnkey solutions.</p>
	</div>
</section>

<div class="container">
	<div class="row well well-lg">
	<div class="vert-middle col-md-5">
		<h2>Our team members are credentialed in technologies including:</h2>
	</div><div class="vert-middle col-md-7">
		<div class="row">
		<div class="col-md-6">
		  <dd>CDMA &ndash; IS-95, 1xRTT, EV-DO</dd>
		  <dd>GSM &ndash; GPRS/EDGE</dd>
		  <dd>UMTS/WCDMA HSDPA/HSUPA/LTE</dd>
		</div>
		<div class="col-md-6">
		  <dd>WiMAX and Broadband Technologies</dd>
		  <dd>Microwave and LMDS</dd>
		  <dd>In-building and DAS Systems</dd>
		</div>
		</div>
	</div>
	</div>
</div>

<div class="container containPad" >
	<div class="row">
	<div class="vert-middle col-md-5 col-md-push-7">
		<h2>Let us help you with your network engineering needs.</h2>
	</div><div class="vert-middle col-md-7 col-md-pull-5">
		<div class="row">
		<div class="col-md-6">
		  <dd>Wireless office, outside, and warehouse environments</dd>
		  <dd>Wireless LAN site design</dd>
		  <dd>Hardware installation design and development</dd>
		</div>
		<div class="col-md-5">
		  <dd>Telemeters design and development</dd>
		  <dd>Environmental and accelerated life testing</dd>
		  <dd>Pre-manufacturing and implementing engineering</dd>
		</div>
		</div>
	</div>
	</div>
</div>

	
{% endblock %}
