{% extends "skinnyit/subpage.html" %}
{% block title %}Products Overview : Skinny IT{% endblock %}
{% block header_id %}pgHdrProducts{% endblock %}

{% block header_icon %}<img src="{{ STATIC_URL }}skinnyit/images/ico-products-white@2x.png" height="90" width="90" alt="Products icon" />{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Anything you want, we have it — or can get it.</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Not all of our products are necessarily, well, products.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-sm-4">
		<div class="blueContainer">
			<img src="{{ STATIC_URL }}skinnyit/images/ico-products-staff@2x.png" class="img-responsive center-block" height="55" width="65" alt="staff icon" />
			<h3>You need more staff?</h3>
			<p>We can find them.</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="blueContainer">
			<img src="{{ STATIC_URL }}skinnyit/images/ico-products-experts@2x.png" class="img-responsive center-block" height="55" width="56" alt="experts icon" />
			<h3>Need an expert in wireless?</h3>
			<p>We know a few.</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="blueContainer">
			<img src="{{ STATIC_URL }}skinnyit/images/ico-products-provide@2x.png" class="img-responsive center-block" height="55" width="43" alt="provider icon" />
			<h3>Need something without wires?</h3>
			<p>We can provide it.</p>
		</div>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>And that’s in addition to all of the tangible products and invaluable services we can &mdash; <span class="strong">and will</span> &mdash; provide.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>

	
{% endblock %}
