{% extends "skinnyit/section.html" %}
{% block title %}Cellular Infrastructure : Skinny IT{% endblock %}
{% block header_id %}pgHdrProducts{% endblock %}

{% block header_icon %}<img src="{{ STATIC_URL }}skinnyit/images/ico-products-white@2x.png" height="90" width="90" alt="Products icon" />{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Phones aren’t just for listening and speaking anymore.</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Yesterday’s technology isn’t good enough for today’s smart devices.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad bottom-margin">
	<div class="row">
		<div class="vert-middle col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-voLTE@2x.png" class="img-responsive" alt="Voice Over LTE provided by Skinny IT" />
		</div><div class="clearfix secPad visible-xs">
		</div><div class="vert-middle col-sm-5 col-md-4 col-md-offset-1" >
			<h2>Imagine having both voice and data living together and using the same network in harmony.</h2>
			<p>Your costs will drop. Your profits will go up. We know how to make it happen, no matter the size of your company.</p>
			<a href="/cellular-infrastructure/voice-lte/" class="btn btn-primary" role="button">Learn About VoLTE</a>
		</div>
	</div>
</div>

<div class="container bottom-margin ">
	<div class="row fill-img-holder fill-bluegray fill-column-sm fill-column-5 fill-column-bluegray">
		<div class="vert-middle col-sm-4 col-sm-offset-1 containPad">
			<h2 class="white">No reworking networks. No additional hardware required for your customers.</h2>
			<p class="white">Imagine being able to offer a pure option for voice that people can take almost anywhere. It’s the best way to have a truly mobile number.</p>
			<a href="/cellular-infrastructure/voice-wifi/" class="btn btn-outline" role="button">Learn About VoWiFi</a>
		</div><div class="col-sm-6 col-md-6 col-md-offset-1 fill-img-sm fill-img-right" style="background-image:url('{{ STATIC_URL }}skinnyit/images/img-content-voWIFI@2x.jpg');">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-voWIFI@2x.jpg" class="img-responsive visible-xs" alt="" />
		</div>
	</div>
</div>

<div class="container containPad bottom-margin">
	<div class="row">
		<div class="vert-middle col-xs-8 col-xs-offset-2 col-sm-5 col-sm-push-4">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-logistics@2x.png" class="img-responsive" alt="Logistics provided by Skinny IT" />
		</div><div class="clearfix secPad visible-xs">
		</div><div class="vert-middle col-xs-12 col-sm-5 col-sm-pull-6 col-md-4" >
			<h2>Simplify your services architecture with a OneMRP strategy.</h2>
			<p>You’ll get an efficient infrastructure that’s both flexible and scalable. Not to mention your operational costs will drop and your profitability will soar.</p>
			<a href="/cellular-infrastructure/custom-development/" class="btn btn-primary" role="button">Custom Solutions</a>
		</div>
	</div>
</div>

<div class="container-fluid cta-yellow">
<div class="container">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2 class="white">And that’s in addition to all of the tangible products and invaluable services we can &mdash; <span class="strong white">and will</span> &mdash; provide.</h2>
		<a href="/contact/" class="btn btn-outline btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>
</div>

	
{% endblock %}
