{% extends "skinnyit/subpage.html" %}
{% block title %}Media Resource Program : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Delivering the Media Resource Program (MRP) of the IMS architecture.</h2>
	</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<p>The MRP/IP media server is a fundamental element in an IP communications network, processing real-time audio and video media streams under the control of Application Servers (AS) in an IMS.</p>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row secPad text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>Skinny IT is a leading provider of products and solutions to address emerging media processing challenges for network operators and solution vendors.</h2>
	</div>
	</div>

	<div class="row text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h4 class="strong">Our media servers feature:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		  <dd>Designed to support a ONE MRP Strategy &mdash; One media processing platform for all real-time media processing services and applications</dd>
		  <dd>Extensive audio and video mixing capabilities for multimedia conferencing</dd>
		  <dd>Media recording and playback for announcements, ringback, or messaging</dd>
		  <dd>Broad codec support, including AMR-WB (for VoLTE) and H.264 HD 720p video Integrated</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Voice over Quality Enhancement (VQE) Industry-leading scalability</dd>
		  <dd>Flexible IP-to-IP Transcoding and Transrating</dd>
		  <dd>All MRP features controlled through IMS-based control interfaces, including SIP with Media Server Markup Language (MSML - RFC 5707)</dd>
	</div>
	</div>
</section>

	
{% endblock %}
