{% extends "skinnyit/subpage.html" %}
{% block title %}Network Optimization : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>The success of today’s enterprises is largely dependent on optimal network performance.</h2>
	</div>
	</div>

	<div class="row" style="text-align:left !important;">
	<div class="col-sm-6 col-md-5 col-md-offset-1">
		<p>The Radio Access Network Optimization service maintains detailed knowledge of today’s dynamic environment and gives customers the ability to compare key performance indicators, minimize application response time, and effectively reduce costs.</p>
	</div>
	<div class="col-sm-6 col-md-5">
		<p>Access to this valuable information allows customers to accommodate growth in traffic and services by optimizing their network for the best results, while freeing up resources.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1">
		<h2 class="text-center strong lightblue">Generate New Revenue</h2>
		<h2 class="text-center">Ensuring network integrity will increase performance and optimization.</h2>
	</div>
	</div>
	
	<div class="row">
	<div class="col-sm-4">
		<p>Reducing downtime of business critical applications can directly impact your service quality and therefore influence user satisfaction, loyalty, and spending.</p>
	</div>
	<div class="col-sm-4">
		<p>Increasing the stability and quality of services offered can dramatically enhance a customer’s service offering when using media rich applications like Mobile TV and multimedia apps.</p>
	</div>
	<div class="col-sm-4">
		<p>The Radio Access Network Optimization service also qualifies the network performance for new services by predicting the impact of potential changes prior to deployment, accommodating for new revenue streams.</p>
	</div>
	</div>
</section>

<section class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1">
		<h2 class="text-center strong lightblue">Access the Best Competence</h2>
		<h2 class="text-center">Ensuring network integrity will increase performance and optimization.</h2>
	</div>
	</div>
	
	<div class="row">
	<div class="col-sm-4">
		<p>Radio access technology (GSM, EDGE, WCDMA and HSPA) is quickly evolving and adding sophisticated features along the way – requiring global experience and the most up-to-date competence in the field.</p>
	</div>
	<div class="col-sm-4">
		<p>As a leader in global competence, Skinny IT is constantly implementing new ideas and consulting with global experts in the field to stay on the cutting edge, so customers can benefit from this knowledge.</p>
	</div>
	<div class="col-sm-4">
		<p>This data is distributed internally throughout the optimization-planning process, helping to bridge in-house competence gaps and transferring the needed know-how into the customer organization.</p>
	</div>
	</div>
</section>

	
{% endblock %}
