{% extends "skinnyit/subpage.html" %}
{% block title %}Evolved Packet Core : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Skinny IT’s Virtualized Evolved Packet Core (EPC) is specifically designed to optimize the deployment of data and voice services for mobile operators transforming their networks to 4G LTE.</h2>
	</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<p>Skinny IT’s EPC solution provides a full suite of standards-defined wireless functions (SGW, PGW and MME) on a virtualized software platform that provides mobile operators the flexibility and cost efficiencies needed to cope with growth in mobile data traffic.</p>
	</div>
</section>

<div class="container well well-lg">
	<div class="row" style="text-align:left !important;">
	<div class="col-sm-6">
		<h4>Skinny IT’s EPC is a software-based, carrier grade solution that can be deployed on cloud-based infrastructures using Network Functions Virtualization (NFV) to rapidly scale capacity and adapt to new deployment models.</h4>
		<p>Skinny IT’s EPC is based on a unique distributed architecture that splits control and bearer planes which optimizes packet processing and introduces capacity gains and cost efficiencies, as compared to conventional EPC solutions.</p>
		<p>This revolutionary approach optimizes the overall LTE architecture with the integration of EPC and IMS on cloud-based infrastructure and makes the mobile core network access independent.</p>
	</div>
	<div class="col-sm-6">
		<h4>Typical LTE architectures today are based on monolithic, purpose-built platforms that are de-ployed in centralized data centers, and have dedicated infrastructure for separate access net-works, such as LTE or Wi-Fi.</h4>
		<p>Skinny IT’s approach simplifies the mobile core network by option-ally integrating Skinny IT’s Session Border Control (SBC) with the EPC thus providing flexible and unified access to 4G LTE services.</p>
		<p>The virtualized SGW, PGW and MME can all easily be deployed in the operator’s cloud-based infrastructure and are part of Skinny IT’s end-to-end EPC suite, evolving on the robust UAG product platform.</p>
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row secPad text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>Serving Gateway (SGW)</h2>
		<p>Skinny IT’s virtualized standards-based SGW provides user plane connectivity for a variety of access networks like 2G, 3G and LTE. It functions like a user plane mobility anchor and handles packet routing and forwarding functions with highly optimized packet processing capabilities.</p>
	</div>
	</div>

	<div class="row text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h4 class="strong">Features of Skinny IT’s <span class="lightblue">SGW</span> include:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		  <dd>Virtualized, based on Skinny IT’s carrier grade sOne Convergence Platform, for high availability, scalability, and performance</dd>
		  <dd>Standards based, fully compliant to 3GPP Optimized packet processing, high throughput with per user QoS support</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Distributed control and bearer plane architecture, triggering capacity gains and cost efficiencies</dd>
		  <dd>Unified Support for all access types (GSM, WCDMA and LTE) allowing seamless mobility</dd>
		  <dd>All-IP based architecture</dd>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row secPad text-center">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<h2>PDN Gateway (PGW)</h2>
		<p>Skinny IT’s virtualized standards-based PGW provides connectivity to external Packet Data Networks like the Internet/Intranet, and IMS (enabling services such as VoLTE).</p><p>The PGW interoperates with both 3GPP (2G, 3G, LTE) and non-3GPP (i.e. Wi-Fi) access networks, offering seamless mobility. It handles packet routing and forwarding functions with highly optimized packet processing capabilities also hosting the Policy and Charging Enforcement Function (PCEF), enabling QoS differentiation.</p>
	</div>
	</div>

	<div class="row text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h4 class="strong">Features of Skinny IT’s <span class="lightblue">PGW</span> include:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		  <dd>Virtualized, based on Skinny IT’s carrier grade sOne Convergence Platform, for high availability, scalability, and performance Standards based, fully compliant to 3GPP</dd>
		  <dd>Optimized packet processing, high throughput with per user</dd>
		  <dd>QoS support</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Distributed control and bearer plane architecture, triggering capacity gains and cost efficiencies</dd>
		  <dd>Unified support for 3GPP and non-3GPP access types allowing seamless mobility</dd>
		  <dd>All-IP based architecture</dd>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row secPad text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>Mobility Management Entity (MME)</h2>
		<p>Skinny IT’s virtualized Mobility Management Entity (MME) is highly scalable, providing standards based mobility management and control functions including intra-LTE, intra-3GPP mobility, security procedures, and session management.</p>
	</div>
	</div>

	<div class="row text-center">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h4 class="strong">Features of Skinny IT’s <span class="lightblue">MME</span> include:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		  <dd>Virtualized, based on Skinny IT’s carrier grade sOne Convergence Platform, for high availability, scalability, and performance</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Standards based, fully compliant to 3GPP Unified support for all access types (GSM, WCDMA and LTE) allowing seamless mobility</dd>
		  <dd>All-IP based architecture</dd>
	</div>
	</div>
</section>

<div class="container cta-blue">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2 class="white">Whatever the problem. Whatever the deadline.<br>You can count on Skinny IT.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>

	
{% endblock %}
