{% extends "skinnyit/subpage.html" %}
{% block title %}Voice Over LTE : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}


{% block content %}

<section class="container pgLeadIn">
	<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <img src="{{ STATIC_URL }}skinnyit/images/ico-LTE-pg@2x.png" class="img-responsive center-block secPad" height="90" width="90" alt="VoLTE icon" />
      <h2>Voice over LTE (VoLTE) makes rich voice, video and messaging services a core offering for 4G LTE operators.</h2>
    </div>
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <p>There are many advantages, including robust cost savings, for transitioning from a circuit-switched network to an all-IP 4G LTE network.</p>
    </div>
	</div>
</section>

<section class="container well well-lg">
	<div class="row">
	<div class="col-sm-7">
		<h4><span class="lightblue">4G LTE opens up a new world for operators.</span> They an offer customers true mobility offering both voice and messaging services from the same network. In turn, this also enables monetization of those services allowing operators to actively compete against OTT web-based service providers.</h4>
	</div>
	<div class="col-sm-5">
		<h4>No matter what generation of mobile devices customers are using, 4G LTE allows operators to offer new experiences to users.</h4>
	</div>
	</div>
</section>

<section class="container containPad">
	<div class="row">
	<div class="col-sm-5">
		<h2>Enable new services like video calling, multi device, single number, and multimedia sharing, all while saving costs.</h2>
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		<p>Skinny IT’s 4G LTE solution supports 3GPP MMTEL, MAP, and ANSI-41 services as well as providing service parity.</p>
	</div>
	<div class="col-sm-3">
		<p>The seamless service experience it delivers works across LTE, 2G, 3G, and WiFi networks, also. It’s the best way to offer more services for less cost.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4>Skinny IT’s solution gives mobile operators a time-to-market advantage using a single Convergence Platform that supports a wide variety services including VoWiFi, VoLTE, SMS/MMS over 4G, and RCS.</h4>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started</a>
	</div>
	</div>
</div>

{% endblock %}
