{% extends "skinnyit/subpage.html" %}
{% block title %}Voice Over WiFi : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<h2>Voice over WiFi (VoWiFi) allows service providers to give their customers all of the services they want in one convenient bundle.</h2>
	</div>
	<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<p>TV and Internet are easy, but offering a sound Voice option is the tricky part. Skinny IT has a solution that doesn't require any additional infrastructure.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row">
		<div class="vert-middle col-md-5">
		<p>Skinny IT can give services providers VoWiFi capabilities with clever software. It enables users to access their Voice services not just on their home WiFi, but any WiFi network worldwide.</p><p>It's an option that is inexpensive to implement but is sure to yield profits.</p>
		</div><div class="vert-middle col-md-6 col-md-offset-1 well well-lg well-blue" >
			<h2 class="white">Adding VoWiFi services doesn't require redoing your entire infrastructure.</h2>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<section class="container containPad">
	<div class="row text-center secPad">
	<div class="col-sm-10 col-sm-offset-1">
		<h4 class="strong">VoWiFi  isn't just for the big boys. Skinny IT has a VoWiFi solution for service providers of any size.</h4>
	</div>
	</div>

	<div class="row secPad">
	<div class="col-sm-5 col-sm-offset-1">
		<p>Small to medium sized cable companies can offer their customers a true triple-play option with Skinny IT's VoWiFi software.</p>
	</div>
	<div class="col-sm-5">
		<p>As mobile devices get smarter, consumers are wanting more options for talk. VoWiFi is that solution, and most smartphones and tablets are ready to use the service.</p>
	</div>
	</div>
</section>

<div class="container-fluid cta-blue">
<div class="container">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4 class="white">Skinny IT’s solution gives mobile operators a time-to-market advantage using a single Convergence Platform that supports a wide variety services including VoWiFi, VoLTE, SMS/MMS over 4G, and RCS.</h4>
		<a href="/contact/" class="btn btn-outline btn-lg" role="button">Get Started</a>
	</div>
	</div>
</div>
</div>

	
{% endblock %}
