{% extends "skinnyit/subpage.html" %}
{% block title %}Press : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}


<div class="container containPad">
  <div class="row secPad">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h1>Skinny IT Press Mentions</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {% regroup press_releases by release_month as month_list %}
      {% for releases in month_list %}
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ releases.grouper }}</h3>
        </div>
        {% for release in releases.list %}
        <div class="col-sm-6 press-snippet">
          <p class="label label-primary">{{ release.release_date }}</p>
          <h2>{{ release.headline }}</h2>
          <p>{{ release.body|truncatewords:40 }}</p>
          <a href="{{ release.get_absolute_url }}" class="btn btn-primary btn-sm" role="button">Continue Reading</a>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-xs-11">
          <div class="clearfix visible-sm"></div>
          <hr class="divider-brdr">
        </div>
      </div>
      {% endfor %}

      <!--
      <div class="row">
        <div class="col-xs-12">
          <nav>
            <ul class="pager press-pager">
              <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
              <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      -->
    </div>

  </div>
</div>

	
{% endblock %}
