{% extends "skinnyit/section.html" %}
{% block title %}Skinny IT : Home{% endblock %}

{% block extra_style %}{{ block.super }}
<!-- Slider files -->
<link rel="stylesheet" href="{{ STATIC_URL }}skinnyit/css/maximage.css" type="text/css" media="screen" title="CSS" charset="utf-8" />
{% endblock %}
{% block extra_js %}{{ block.super }}
<script src="{{ STATIC_URL }}skinnyit/js/jquery.cycle.all.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}skinnyit/js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}skinnyit/js/jquery.maximage.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
    $('#maximage').maximage({
        cycleOptions: {
            fx:'fade',
            speed: 800,
            timeout: 7000,
						backgroundSize: 'cover',
						cssBackgroundSize: false,
						verticalCenter: true,
						horizontalCenter: true,
            prev: '#arrow_left',
            next: '#arrow_right'
        },
        onFirstImageLoaded: function(){
            jQuery('#cycle-loader').hide();
            jQuery('#maximage').fadeIn('fast');
        }
    });
});
</script>
{% endblock %}

{# remove header icon elements #}
{% block header_icon_wrapper %}{% endblock %}
{% block header_class %}{% endblock %}

{% block page_id %}home{% endblock %}

{% block content %}

<!-- SLIDER Structure -->
<section id="sliderContainer">
<a href="skinnyit/" id="arrow_left"><img src="{{ STATIC_URL }}skinnyit/images/ico-arrow-left@2x.png" height="58" width="20" alt="Slide Left" /></a>
<a href="skinnyit/" id="arrow_right"><img src="{{ STATIC_URL }}skinnyit/images/ico-arrow-right@2x.png" height="58" width="20" alt="Slide Right" /></a>
<img id="cycle-loader" src="{{ STATIC_URL }}skinnyit/images/ajax-loader.gif" />

<div id="maximage">
	<div id="slide1">
		<img src="{{ STATIC_URL }}skinnyit/images/bg-home-enterprise@2x.jpg" class="" alt="Enterprise Resources" />
			<div class="gray-overlay">
			<div class="container">
			<div class="row">
			<div class="col-sm-5 col-sm-push-1 col-md-5 col-lg-4 col-lg-push-0" >
				<header class="in-slide-content" id="bg-home-1">
					<img src="{{ STATIC_URL }}skinnyit/images/ico-enterprise@2x.png" class="hidden-xs img-responsive" height="60" width="56" alt="Enterprise Resources icon" />
					<h1 class="white">Hardware Sizing &amp; Engineering</h1>
					<p class="white">Our comprehensive wireless WAN solution portfolio offers flexibility, reliability, and interoperability with existing networks.</p>
					<a href="/enterprise-resources/" class="btn btn-primary btn-lg" role="button">Learn More</a>
				</header>
			</div>
			</div><!-- /.row -->
			</div><!-- /.container -->
			</div>
	</div><!-- /SLIDE -->

	<div id="slide2">
		<img src="{{ STATIC_URL }}skinnyit/images/bg-home-wireless@2x.jpg" class="" alt="Wireless Engineering" />
			<div class="gray-overlay">
			<div class="container">
			<div class="row">
			<div class="col-sm-5 col-sm-push-1 col-md-6 col-lg-5 col-lg-push-0" >
				<header id="bg-home-2">
					<img src="{{ STATIC_URL }}skinnyit/images/ico-wireless@2x.png" class="hidden-xs img-responsive" height="60" width="54" alt="Wireless icon" />
					<h1>WiFi Design &amp; Deployment</h1>
					<p>We design and install turnkey Wi-Fi solutions (802.11ac/b/g/a/n) to fit your operating requirements.</p>
					<a href="/services/wifi-design/" class="btn btn-primary btn-lg" role="button">Learn More</a>
				</header>
			</div>
			</div><!-- /.row -->
			</div><!-- /.container -->
			</div>
	</div><!-- /SLIDE -->

	<div id="slide3">
		<img src="{{ STATIC_URL }}skinnyit/images/bg-home-voLTE@2x.jpg" class="" alt="Voice Over LTE" />
			<div class="gray-overlay">
			<div class="container">
			<div class="row">
			<div class="col-xs-9 col-xs-offset-3 col-sm-5 col-sm-offset-0 col-sm-push-6 col-lg-5 col-lg-push-7" >
				<header id="bg-home-3">
					<img src="{{ STATIC_URL }}skinnyit/images/ico-LTE@2x.png" class="hidden-xs img-responsive" height="60" width="61" alt="LTE icon" />
					<h1>Voice Over LTE (VoLTE)</h1>
					<p>We empower 4G LTE operators to offer rich voice, video, and messaging services as a core offering.</p>
					<a href="/cellular-infrastructure/voice-lte/" class="btn btn-primary btn-lg" role="button">Learn More</a>
				</header>
			</div>
			</div><!-- /.row -->
			</div><!-- /.container -->
			</div>
	</div><!-- /SLIDE -->

	<div id="slide4">
		<img src="{{ STATIC_URL }}skinnyit/images/bg-home-retail@2x.jpg" class="" alt="Retail" />
			<div class="gray-overlay">
			<div class="container">
			<div class="row">
			<div class="col-sm-5 col-sm-push-1 col-md-5 col-lg-4 col-lg-push-0" >
				<header id="bg-home-4">
					<img src="{{ STATIC_URL }}skinnyit/images/ico-retail@2x.png" class="hidden-xs img-responsive" height="60" width="61" alt="RETAIL icon" />
					<h1>Retail</h1>
					<p>We deliver the unique solutions that retailers need, from design and procurement to the installation and deployment of your IT solution.</p>
					<a href="/services/retail/" class="btn btn-primary btn-lg" role="button">Learn More</a>
				</header>
			</div>
			</div><!-- /.row -->
			</div><!-- /.container -->
			</div>
	</div><!-- /SLIDE -->

</div>
</section>

{% endblock %}

{% block footer %}{% endblock %}
