{% extends "skinnyit/subpage.html" %}
{% block title %}Careers : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>At Skinny IT, we don’t sell products—we sell experience, knowledge, and creativity.</h2>
		<p>Naturally, finding and keeping the best people is central to our success. Yes, the work is challenging, but the rewards are great. Think you’re Skinny IT material? Read on and view current job openings.</p>
	</div>
	</div>
</section>


<div class="container bottom-margin ">
	<div class="row fill-img-holder fill-darkblue fill-column-sm fill-column-5 fill-column-darkblue">
		<div class="vert-middle col-sm-4 col-sm-offset-1 containPad"><h2 class="white">Benefits &amp; Perks</h2><p>All work and no play makes for frazzled nerves and fried synapses. To make sure our people are able to pursue their non-work related passions (even if that still includes coding), we de-signed our benefits package to promote a healthy work/life balance.</p></div><div class="col-sm-6 col-md-6 col-md-offset-1 fill-img-sm fill-img-right" style="background-image:url('{{ STATIC_URL }}skinnyit/images/img-content-careers@2x.jpg');background-size:cover;"><img src="{{ STATIC_URL }}skinnyit/images/img-content-careers@2x.jpg" class="img-responsive visible-xs" alt="" /></div>
	</div>
</div>


<div class="container well well-lg containPad">
	<div class="row">
	<h2 class="text-center">At our Frisco, TX, headquarters, we offer:</h2>
	<div class="col-sm-5 col-sm-offset-1">
		<h4 class="strong">Flexible office environment</h4><p>If you need to collaborate in the office, come on in. If you need to work from home on occasion, no problem. We are committed to working with you to help optimize your desired work/life balance.</p>
	</div>
	<div class="col-sm-5 col-md-5 col-md-offset-1">
		<h4 class="strong">Awesome on-site cafeteria</h4><p>We offer per diem dining credits to all full-time employees.</p>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Of course, a great deal of your life is spent at work. So we made the Skinny IT offices an enjoyable place.</h2>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<p>Skinny IT offers a competitive benefits package that includes healthcare, vision, dental and 401k. We are continually looking for ways to improve the benefits we offer our employees.</p>
		<a href="/about/open-positions/" class="btn btn-primary btn-lg" role="button">View Current Openings</a>
	</div>
	</div>
</div>

	
{% endblock %}
