{% extends "skinnyit/subpage.html" %}
{% block title %}Facility : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>When you call, we answer.</h2>
		<p>A support engineer is always standing by to offer both technical and engineering services to assist you and your clients.</p>
	</div>
	</div>
</section>

<div class="container containPad" style="border-top: 1px solid #dcdada;border-bottom: 1px solid #dcdada;">
	<div class="row">
	<div class="col-sm-6 col-md-5 col-md-offset-1">
		  <dd>Configuration, update, testing, and inventory services</dd>
		  <dd>First-call responsiveness</dd>
		  <dd>Incident-based setup support is available</dd>
		  <dd>Full racking, stacking and cabling</dd>
		  <dd>Product training</dd>
	</div>
	<div class="col-sm-6 col-md-5">
		  <dd>Full pre-sales configuration assistance, which includes hardware recommendations and scoping</dd>
		  <dd>Products are tested and upgraded with the latest firmware, including configured servers, blade enclosures, storage, interconnects and similar products</dd>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>We’ll handle the essentials, like troubleshooting newly configured hardware, determining compatibility, and updating firmware. After all, your time can be better spent on running your business.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>

	
{% endblock %}
