{% extends "skinnyit/section.html" %}
{% block title %}About Skinny IT{% endblock %}
{% block header_id %}pgHdrAbout{% endblock %}

{% block header_icon %}
<img src="{{ STATIC_URL }}skinnyit/images/ico-about-white@2x.png" height="90" width="90" alt="About icon" />
{% endblock %}

{% block content %}
<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>We are many things to many clients &mdash; from global integration and fulfillment to 4G LTE solutions.</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p>But to all of them, we are a solution. Phrases like “in a bit,” “ask me tomorrow,” and “that’s on the back burner,” have been replaced with “no problem.”</p>
	</div>
	</div>
</section>

<div class="container cta-yellow">
<div class="container">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2 class="white">It isn’t about do-it-yourself procurement and mobile solutions. It’s about finding a partner that makes every dollar and every second count.</h2>
		<a href="/contact/" class="btn btn-outline btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>
</div>

{% endblock %}
