{% extends "skinnyit/subpage.html" %}
{% block title %}Just the Facts : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>With unsurpassed expertise and stability, Skinny IT delivers the goods on every front.</h2>
	</div>
	</div>
</section>

<section class="container secPad">
	<div class="row">
	<div class="col-sm-4">
		<div class="blueContainer"><h3>Compliant in ISO 9001:2000, TL 9000, AND IPC-610; SIX SIGMA Certifications</h3></div>
	</div>
	<div class="col-sm-4">
		<div class="blueContainer"><h3>Recognized as a leader in wireless services by leading industry analysts</h3></div>
	</div>
	<div class="col-sm-4">
		<div class="blueContainer"><h3>Minority-Owned Enterprise (MBE)</h3></div>
	</div>
	</div>
	
	<div class="row secPad">
	<div class="col-sm-6">
		<div class="blueContainer"><h4>Global Integration facilities in Texas, California, Europe, Middle East, Latin America, South America, and China with deployment capability worldwide</h4></div>
	</div>
	<div class="col-sm-6">
		<div class="blueContainer"><h4>Longstanding relationships with top service providers, hardware manufacturers, and software publishers</h4></div>
	</div>
	</div>
</section>

	
{% endblock %}
