{% extends "skinnyit/subpage.html" %}
{% block title %}Management Team : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <img src="{{ STATIC_URL }}skinnyit/images/logo-clr@2x.png" class="block-center" height="45" alt="SkinnyIT Logo" style="margin-bottom:1em;" />
    <h2>When it matters to you, experience matters the most. Here’s the kind of experience you’ll find at Skinny IT.</h2>
  </div>
  </div>
</section>

<div class="container secPad">
	<div class="row">
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<img src="{{ STATIC_URL }}skinnyit/images/profile-sam@2x.png" class="img-responsive" alt="#" style="margin-bottom:1.1em;" />
			</div>
			</div>
			<h3>Sam Darwish, CEO</h3>
			<p>Before venturing out on his own with Skinny IT, Sam spent over a decade in senior leadership positions at technology companies like CompuCom, OnForce and Locus Telecommunications. Sam’s knack for developing new – or revitalizing &ndash; business units was called upon multiple times in these roles. The most recent example being a team he built at CompuCom dedicated to the SMB market.</p><p>A team that quickly grew to generate over $50 million in annual revenues. And at OnForce, Sam helped the startup emerge as a rising star by building new sales channels, helping redesign internal support systems and increasing revenue while reducing internal overhead. Now at Skinny IT, Sam brings his extensive technical and managerial expertise to bear for companies of all sizes on projects ranging from merely complicated to massively complex. When not leading the charge in the world of technology, you’ll find Sam spending time with his wife Lola and their three children.</p>
		</div>
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<img src="{{ STATIC_URL }}skinnyit/images/profile-raju@2x.png" class="img-responsive" alt="#" style="margin-bottom:1.1em;" />
			</div>
			</div>
			<h3>Raju Padole, CTO</h3>
			<p>Raju began his IT journey nearly 20 years ago when he graduated from Columbia University with a BS in Electrical Engineering. Raju has spent the last 15 years in increasingly senior sales and sales management capacities at CompuCom, OnForce and Enpointe. Raju’s unique skill set allows him to work closely with our customers in designing and deploying their proprietary applications.</p><p>When Raju is not helping streamline a customer’s deployment systems, he can often be found giving back to the community by working with various Dallas-area relief organizations to provide home-cooked meals to those in need.</p>
		</div>
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<img src="{{ STATIC_URL }}skinnyit/images/profile-kevin@2x.png" class="img-responsive" alt="#" style="margin-bottom:1.1em;" />
			</div>
			</div>
			<h3>Kevin Lofgren, CMO</h3>
			<p>Kevin has come a long way from selling books door-to-door in college. That humble beginning set him on a path to learning how to design and code websites in order to automate a typical sales process, which lead to his creating a very successful multi-million dollar interactive agency called Farstar.</p>
			<p>Kevin took on Skinny IT as a client, and after using Farstar for various projects over several years, Sam and Raju decided that what Skinny IT really needed was Kevin. They made him an offer he couldn&rsquo;t refuse. Now Kevin uses his unique vision and voice to give Skinny IT a friendly face to potential clients.</p>
			<p>When not living at his desk, Kevin resides in Frisco, Texas.</p>
		</div>
	</div>
</div>

	
{% endblock %}
