{% extends "skinnyit/subpage.html" %}
{% block title %}Open Positions : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
	<div class="col-xs-12">
		<h3>Current Open Positions</h3>
	</div>
	</div>

	<div class="row">
    <div class="col-sm-8">
      <h2 class="strong">Sales Intern</h2>
      <p>No experience required. Seriously!</p><p>We’ll teach you the techniques and habits you’ll need to be successful. Skinny IT invests time and money developing your skills, from talking with C-Level Executives and articulating a value proposition, to preparing and delivering a sales presentation. Our interns work alongside industry executives and engineers. You have an opportunity to learn not only the technical knowledge necessary to communicate, but also how to build a sales pipeline, negotiate and close deals and further develop the relationship post sale. Some interns even become eligible to interview for a sales executive position.</p>
    </div>
    <div class="col-md-4">
      <h2>Apply</h2>
      <p>If you're interested, click the button below and send us your information.</p>
      <a href="mailto:careers@skinnyit.com" class="btn btn-primary btn-lg" role="button">Send Resume</a>
    </div>
	</div>

	<div class="row">
    <br>
    <div class="col-xs-12">
      <hr class="divider-brdr-plain">
    </div>
    <br>
	</div>

	<div class="row">
    <div class="col-sm-8">
      <h2 class="strong">Accountant</h2>
      <p>Requirements:</p>
      <ul>
        <li>Masters degree in Accounting</li>
        <li>6 months experience</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Apply</h2>
      <p>If you're interested, click the button below and send us your information.</p>
      <a href="mailto:careers@skinnyit.com" class="btn btn-primary btn-lg" role="button">Send Resume</a>
    </div>
	</div>

</div>

<div class="container containPad">
	<div class="row">
	<div class="col-xs-12">
		<hr class="divider-brdr-plain">
	</div>
	</div>

	<div class="row">
	<div class="col-sm-9">
		<h3>To all recruitment agencies:</h3>
		<p>Please do not forward resumes to our jobs alias, employees or any other company location. Skinny IT is not responsible for any fees related to unsolicited resumes.</p>
	</div>
	</div>
</div>

	
{% endblock %}
