{% extends "skinnyit/subpage.html" %}
{% block title %}Our Partners : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Partners with the Skinny seal of approval.</h2>
		<p>Although we're hardware agnostic at Skinny IT, we do have some favorite go-to resources.</p>
	</div>
	</div>
</section>

<div class="container">
	<h4 class="strong text-center lightblue">Manufacturers</h3>

	<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<hr class="header-brdr">
	</div>
	</div>

	<div class="row secPad logos">
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-apc@1x.png" height:"70" class="center-block img-responsive" alt="APC" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-avigilon@1x.png" height:"70" class="center-block img-responsive" alt="APC" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-cisco@1x.png" class="center-block img-responsive" alt="Cisco" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-dell@1x.png" class="center-block img-responsive" alt="HP" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-emc@1x.png" class="center-block img-responsive" alt="EMC" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-f5@1x.png" class="center-block img-responsive" alt="F5" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-finisar@1x.png" class="center-block img-responsive" alt="Finisar" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-hp@1x.png" class="center-block img-responsive" alt="HP" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-idis@1x.png" class="center-block img-responsive" alt="Idis" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-ibm@1x.png" class="center-block img-responsive" alt="IBM" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-juniper@1x.png" class="center-block img-responsive" alt="Juniper" /></div>
    <div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-lenovo@1x.png" class="center-block img-responsive" alt="Lenovo" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-radware@1x.png" class="center-block img-responsive" alt="Radware" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-ruckus@1x.png" class="center-block img-responsive" alt="Ruckus" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-supermicro@1x.png" class="center-block img-responsive" alt="Supermicro" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-ubiquiti@1x.png" class="center-block img-responsive" alt="Ubiquiti" /></div>
		<div class="col-xs-6 col-sm-2"><img src="{{ STATIC_URL }}skinnyit/images/logo-manu-zynx@1x.png" class="center-block img-responsive" alt="Zynx" /></div>
	</div>

</div>

<div class="container containPad" >
	<h4 class="strong text-center lightblue">Software Partners</h3>

	<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<hr class="header-brdr">
	</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-3"><img src="{{ STATIC_URL }}skinnyit/images/logo-partner-microsoft@1x.png" class="center-block img-responsive" alt="Microsoft" /></div>
		<div class="col-xs-6 col-sm-3"><img src="{{ STATIC_URL }}skinnyit/images/logo-partner-mitel@1x.png" class="center-block img-responsive" alt="Zynx" /></div>
		<div class="col-xs-12 secPad visible-xs"></div>
		<div class="col-xs-6 col-sm-3"><img src="{{ STATIC_URL }}skinnyit/images/logo-partner-citrix@1x.png" class="center-block img-responsive" alt="Citrix" /></div>
		<div class="col-xs-6 col-sm-3"><img src="{{ STATIC_URL }}skinnyit/images/logo-partner-vmware@1x.png" class="center-block img-responsive" alt="VMWare" /></div>
	</div>
</div>

{% endblock %}
