{% extends "skinnyit/subpage.html" %}
{% block title %}Success Stories : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>We helped our client save over a million dollars a year. Yes, $1,000,000.</h2>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<p>We’re going to start this story at the end. For our client, Skinny IT was able to reduce hard costs by 10% and operational costs by 20%.</p>
	</div>
	</div>
</section>

<div class="container well containPad">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="margin-bottom:1.5em;">
		<h2 class="text-center strong">The Problem</h2>
		<h2 class="text-center">A Mobile Infrastructure Solutions company with rapid growth was having a difficult time regulating the supply chain for maximum output.</h2>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<p>The previous solution had a Bill of Materials requiring over 40 items from 10 different vendors to manufacture an end product. A third party partner was used to source some of these items, while the company obtained the rest themselves and attempted to integrate them into the solution.</p><p>Because of their partner’s limited offering, which could only do 70% of the integration, <span class="strong">the company was forced to use a partially completed solution</span> and prepare the large solution for export on its own.</p>
	</div>
	<div class="col-sm-5">
		<p>The company grew steadily, continuing to hire people to accommodate the growth and keep up with demand.</p><p>Before long, they started to observe rising costs in operations as a result of that method, and they saw the profit margins shrink as output grew. A resolution was quickly needed to maintain the bottom line from falling to unsustainable levels.</p>
	</div>
	</div>

	<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<hr class="divider-brdr">
	</div>
	</div>

	<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="margin-bottom:1.5em;">
		<h2 class="text-center strong">The Solution</h2>
		<h2 class="text-center">Skinny IT was asked to re-evaluate the supply chain process and provide a solution for stream-lining the integration process.</h2>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<p>The new solution needed to accommodate scaling without significantly increasing costs on the client side.</p>
		<div class="well well-blue"><h3 class="white">The solution was to develop a single-source procurement tool.</h3></div>
		<p>This allowed the solutions company to eliminate the need to develop multiple purchase orders and gave management the ability to repurpose staff for other projects.</p>
	</div>
	<div class="col-sm-5">
		<p>Skinny IT’s end-to-end procurement and integration process includes a network of 17 Partner Integration Facilities worldwide. This allowed us to procure, build, integrate, image, and deploy the client’s solution locally anywhere in the world. It also eliminated the need to integrate the remaining 30% of the solution manually and removed the need to export to various parts of the world.</p><p>The revised integration and RFP process coupled with the understanding of the client’s technology needs reduced hardware costs by 10%.</p>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Let's start your success story.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
