{% extends "skinnyit/subpage.html" %}

{% block content %}
<div class="container containPad">
  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-sm-11 secPad">
          <h1>{{ whitepaper.title }}</h1>
          <h2>Thank You</h2>
          <p>The whitepaper has been sent to your email address.</p>
          <a class="btn btn-primary btn-sm" href="{% url "whitepapers-index" %}">&laquo; Back</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
