{% extends "skinnyit/subpage.html" %}
{% load widget_tweaks %}

{% block title %}White Papers : {{ whitepaper.title }}{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container containPad">
<div class="row">
<div class="col-md-12">

	<div class="row">
    <div class="col-sm-11 secPad">
      <h1>{{ whitepaper.title }}</h1>
      <h3>{{ whitepaper.created_date|date }}</h3>
      {{ whitepaper.summary|linebreaksbr }}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#downloadPDF">Download PDF</button>
    </div>
	</div>

	<div class="row">
    <div class="col-xs-11">
      <hr class="divider-brdr-plain">
    </div>
	</div>

  <!--
	<div class="row article-tags">
    <div class="col-xs-11">
      <p class="label label-primary">tag</p><p class="label label-primary">tag</p><p class="label label-primary">tag</p><p class="label label-primary">tag</p><p class="label label-primary">tag</p>
    </div>
	</div>
  -->

</div>

<!--
<div class="col-md-4 secPad" >
	<div class="bg-whitepapers">
	<div class="row" >
	<div class="col-md-10 col-md-offset-1">
		<h4 class="strong white">Industry-focused newsletters and white papers</h4>
		<p>Sign up below to periodically receive original content delivered directly to your inbox.</p>
		<form role="form">
		  <div class="form-group">
		    <label class="control-label" for="firstname">First Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="firstname" placeholder="First">
		  </div>
		  <div class="form-group">
		    <label class="control-label" for="lastname">Last Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="lastname" placeholder="Last">
		  </div>
		  <div class="form-group secPad">
		    <label class="control-label" for="email">Email <span class="required">*</span></label>
		    <input type="email" class="form-control input-lg" id="email" placeholder="example@domain.com">
		  </div>
		  <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>		
		</form>
	</div>
	</div>
	</div>
</div>
-->

<!-- Modal -->
<div class="modal fade" id="downloadPDF" tabindex="-1" role="dialog" aria-labelledby="whitePaperDownload" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Download This White Paper</h4>
        <p>Please complete the form below. Once submitted, the white paper will be sent to you via email.</p>
      </div>
      <form role="form" method="post" action="." id="contactForm">{% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}<p class="help-block">Please correct the errors below.</p>{% endif %}
          <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
            <label class="control-label" for="id_first_name">First Name <span class="required">*</span></label>
            {% if form.first_name.errors %}<p class="help-block">{{ form.first_name.errors.0 }}</p>{% endif %}
            {% render_field form.first_name class+="form-control input-lg" %}
          </div>
          <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
            <label class="control-label" for="id_last_name">Last Name <span class="required">*</span></label>
            {% if form.last_name.errors %}<p class="help-block">{{ form.last_name.errors.0 }}</p>{% endif %}
            {% render_field form.last_name class+="form-control input-lg" %}
          </div>
          <div class="form-group{% if form.company.errors %} has-error{% endif %}">
            <label class="control-label" for="id_company">Company <span class="required">*</span></label>
            {% if form.company.errors %}<p class="help-block">{{ form.company.errors.0 }}</p>{% endif %}
            {% render_field form.company class+="form-control input-lg" %}
          </div>
          <div class="form-group{% if form.title.errors %} has-error{% endif %}">
            <label class="control-label" for="id_title">Title <span class="required">*</span></label>
            {% if form.title.errors %}<p class="help-block">{{ form.title.errors.0 }}</p>{% endif %}
            {% render_field form.title class+="form-control input-lg" %}
          </div>
          <div class="form-group secPad{% if form.email.errors %} has-error{% endif %}">
            <label class="control-label" for="id_email">Email <span class="required">*</span></label>
            {% if form.email.errors %}<p class="help-block">{{ form.email.errors.0 }}</p>{% endif %}
            {% render_field form.email class+="form-control input-lg" type="email" %}
          </div>
          <div class="checkbox">
            <label class="control-label">{{ form.opt_in }} Notify me of future white papers from Skinny IT.</label>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary btn-block" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}{{ block.super }}
<script>
  {% if form.errors %}
  $('#downloadPDF').modal();
  {% endif %}
</script>
{% endblock %}
	
