{% extends "skinnyit/subpage.html" %}
{% block title %}Deployment : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>End-to-end Technology Deployment Services are backed by a proven deployment infrastructure, ensuring that engineers with the right skills complete your installations on time and within budget.</h2>
	</div>
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<p>As a result, your consumers will have quicker access to your newly installed equipment and software, providing a faster return on your investment.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
	<div class="col-sm-4">
		<h3>Project Management</h3>
		<p>Our industry-certified Project Managers (PMs) will serve as your single point of contact and accountability throughout the entire deployment process for a truly seamless experience.</p>
	</div>
	<div class="col-sm-4">
		<h3>Site Preparation Services</h3>
		<p>We’ll evaluate your site’s power, structure, networking and cabling environment and make any necessary changes to ensure your sites are ready for installation.</p>
	</div>
	<div class="col-sm-4">
		<h3>Staging</h3>
		<p>Our staging professionals will assemble, load, configure and test all your hardware and software – from NCR of other vendors - so it arrives on time and ready to install.</p>
	</div>
	</div>
</div>

	
{% endblock %}
