{% extends "skinnyit/subpage.html" %}
{% block title %}Engineering Design : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>Solutions designed for your business.</h2>
		<p>Skinny IT comprehensively approaches every deployment and solution design. Our goal is to get the job done correctly, as inexpensively as possible, and quickly. How do we do it?</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
		<div class="col-sm-4">
			<h3>If you need it, we'll build it</h3>
			<p>Sometimes, the standard platform won't work for what you need. That's why we custom-build what you need to exact specifications. Chassis, motherboards, cooling systems, I/O ports, and a whole host of other gear can be fine-tuned for your needs.</p>
		</div>
		<div class="col-sm-4">
			<h3>We work with the best</h3>
			<p>Skinny IT won't just partner with anybody. We want to make sure our partners are as committed to forward thinking as we are.</p>
		</div>
		<div class="col-sm-4">
			<h3>It’s your brand</h3>
			<p>Your brand has a look and feel, and we certainly want to preserve that. Our full range of brand-ing services ensures that your mark appears on bezels, hardware installation guides, discs, and more.</p>
		</div>
	</div>

	<div class="row secPad">
		<div class="vert-middle col-md-5">
			<h2>We design with a purpose</h2><p>Each application has a best-fit solution, and we're really good at finding it. Throughout the entire process, we take a 360 degree look at the solution. Branding, component life, energy efficiency, drivers, operating system conflicts, and regulatory requirements are all considered.</p><p>This makes for a dependable, predictable, and nearly self-sustaining system, reducing maintenance costs and the need for support (although we have that when you need it).</p><p>Nothing, from hardware to code, is included unless it's absolutely necessary. It's this stream-lined approach that keeps success coming.</p>
		</div><div class="vert-middle col-md-6 col-md-offset-1 well well-lg well-blue" >
			<h2 class="white">We manage your project through it's entire life</h2><p>Once a system is in place, our work has only just begun.</p><p>After designing and implementing your solution, time passes. And with that time, technology advances, parts wear out, and hardware and software need to be updated. It’s just part of life with technology.</p><p>So we’re committed to ensure the highest levels of backwards compatibility, and we design systems with the knowledge that they aren’t going to remain the same forever. It’s another way to keep your business ahead.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<h3>We help you to help yourself</h3>
			<p>Half of our job is getting the system running itself. The other half is making you confident in its use. We provide customized technical documentation as well as training for our customers. After all, what’s the point of getting a superior system with all of the bells and whistles if you can’t make it play music.</p>
		</div>
		<div class="col-sm-6">
			<h3>Compliance is our friend</h3>
			<p>Many industries must meet strict compliance and regulatory standards, which is why at the very beginning of a project, we keep those codes in mind. We create the documentation, submit the test results, and even manage the certification process for you.</p>
		</div>
	</div>
</div>

	
{% endblock %}
