{% extends "skinnyit/section.html" %}
{% block title %}Enterprise Resources Overview : Skinny IT{% endblock %}
{% block header_id %}pgHdrEnterprise{% endblock %}

{% block header_icon %}<img src="{{ STATIC_URL }}skinnyit/images/ico-enterprise-white@2x.png" height="90" width="90" alt="Enterprise Resources icon" />{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>What is the lowest cost, lowest risk way to support fluctuating IT demand? Do I have the right resources to achieve the expected results?</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>These are the two questions most successful IT leaders ask when shaping their workforce strategies. The answers provide insight into how internal expertise should be harnessed and makes clear where external talent is needed to get the best business results as quickly and cost effectively as possible.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad bottom-margin">
	<div class="row">
		<div class="vert-middle col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-enterprise-resources@2x.png" class="img-responsive" alt="Extral talent provided by Skinny IT" />
		</div><div class="clearfix secPad visible-xs">
		</div><div class="vert-middle col-sm-5 col-md-4 col-md-offset-1" >
			<h2>When you need external talent on a temporary basis, we have you covered.</h2>
			<p>Our clients rely on us to support the full spectrum of talent acquisition models—from centralized programs managed by VMS/MSPs to decentralized programs led by hiring managers.</p>
		</div>
	</div>
</div>

<div class="container-fluid fill-orange fill-column-sm fill-column-5-half fill-column-bluegray">
	<div class="row">
		<div class="vert-middle col-sm-5 col-sm-offset-1 containPad">
			
			<h2 class="white">We have more than two decades of experience providing any combination of contingent-only, and contingent-to-hire to help you:</h2>
			
		</div><div class="vert-middle col-sm-5 col-sm-offset-1 col-md-4 containPad">
			
			  <dd>Gain on demand access to exceptional people</dd>
			  <dd>Reduce your management burden by providing performance management and assignment completion</dd>
			  <dd>Lower employment law exposure</dd>
			  <dd>National Roll Outs</dd>
			  
		</div>
	</div>
</div>

	
{% endblock %}
