{% extends "skinnyit/subpage.html" %}
{% block title %}Integration : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Seamlessly integrating technology offerings.</h2>
		<p>Small enough to be flexible and cost-conscious, yet big enough to negotiate great deals with vendors, Skinny IT is your one-stop source for affordable, robust design, assembly and distribution of integrated IT hardware.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad blueContainer">
	<div class="row">
		<div class="vert-middle col-sm-6 col-md-4 ">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-integration@2x.png" class="img-responsive" alt="Time crunches aren’t problems for our people" />
		</div><div class="clearfix secPad visible-xs">
		</div><div class="vert-middle col-sm-5 col-md-5 col-md-offset-1" style="text-align:left !important;">
		<h2>Budget constraints, time crunches and BTO/CTO requirements aren’t problems for our people.</h2>
		</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
	<div class="vert-middle col-sm-5 col-sm-offset-1">
		<h2>You always get the quality you demand and the price you need in the time you need it.</h2>
	</div><div class="vert-middle col-sm-5 col-sm-offset-1">
		<h3>Our logistics services include:</h3>
		  <dd>Global distribution and transportation</dd>
		  <dd>Hardware and network optimization</dd>
		  <dd>Configuration and imaging</dd>
		  <dd>Supply chain management</dd>
		  <dd>Easy administration, including returns management</dd>
	</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Save time. Save money. Save aggravation.</h2>
		<h4> Save your sanity with Skinny IT.</h4>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
