{% extends "skinnyit/subpage.html" %}
{% block title %}Professional Services : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Unplug your world.</h2>
		<p>From traditional wireless network design and implementation to filling your staffing needs with wireless experts, Skinny IT continues to pull the plug on the old ways of IT infrastructure. When we say we’ve seen and done it all, we mean it.</p>
	</div>
	</div>
</section>

<section class="container secPad">
	<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="blueContainer"><p>Are you an operator looking for a single platform that supports a wide variety of services, including VoWi-Fi, VoLTE, SMS/MMS over 4G, and RCS?</p><h4 class="strong">Bring it.</h4></div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="blueContainer"><p>Synchronizing a test of 80 consumer-facing kiosks while providing staffing and telecom services?</p><h4 class="strong">No problem.</h4></div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="blueContainer"><p>Providing an off-the-shelf hardware solution compatible with multiple vendors’ units while saving the client thousands of dollars?</p><h4 class="strong">Of course.</h4></div>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>Whatever the problem. Whatever the deadline. You simply cannot stump Skinny IT.</h2>
		<a href="#" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
