{% extends "skinnyit/subpage.html" %}
{% block title %}Procurement : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Defining value today, tomorrow, and beyond.</h2>
		<p>Whether you need customized or off-the-shelf solutions, Skinny IT will reduce your headaches, lead time, and costs. After 10 years in the business and having relationships with dozens of industry-leading manufacturers and distributors, we know who has the highest quality, the best prices, and the best delivery.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
	<div class="col-sm-8 col-sm-offset-2">
		<h4 class="strong text-center">We can also automate order processing and fulfillment for you while.</h4>
	</div>
	</div>

	<div class="row secPad">
	<div class="col-sm-5 col-sm-offset-1">
		  <dd>Auditing purchase orders for accuracy and verifying configurations to eliminate costly mistakes</dd>
		  <dd>Coordinating and following up on orders to guarantee delivery deadlines</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Researching technical requirements and product quality</dd>
		  <dd>Handling paperwork like credit applications, credit and re-billing requests, reports and return material authorizations</dd>
	</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Yes, you could do all of this yourself. But one call to Skinny will get it done faster and for less than you ever thought possible.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
