{% extends "skinnyit/subpage.html" %}
{% block title %}Supply Chain : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Increasing regulation, customs requirements and environmental concerns continue to make supply chain management a complex issue.</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<p>A well-sorted supply chain &mdash; the kind Skinny IT implements &mdash; eliminates concerns regarding market availability, seasonality and global delivery.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
	<div class="vert-middle col-sm-6 col-md-4 col-md-offset-1">
		<h4>Additionally, we take into account outside factors like social responsibility, supplier diversity, national security and environmental stewardship when designing your system, so you’re never caught unaware by circumstances beyond your immediate control.</h4>
	</div><div class="vert-middle col-sm-6 col-md-5 col-md-offset-1 well well-lg well-blue">
		<h4 class="white">With over 10 years of globally integrated supply chain management experience and 10 international vendor-partners, Skinny IT makes sure everything—price, timing, delivery, quality, product—goes right, right from the get-go.</h4>
	</div>
	</div>
</div>

	
{% endblock %}
