/* @group Blue Footer */
footer {
	background-color: #2788b1;
	font-size:0.7em;
	color:#afd6e6;
	font-weight:300;
	line-height:1.4em;
	padding-top: 5em;
	padding-bottom: 5em;
}
/*.ftrCatHdr, .ftrCatHdr a {font-size:1em;color:#fff;text-transform: uppercase;font-weight:600;line-height:1.1em;display: table !important; float: none;}*/
.ftrCatHdr, .ftrCatHdr a {font-size:1em;color:#fff !important;text-transform: uppercase;font-weight:600;line-height:1.1em;display: table !important; margin-bottom: 0.5em;}

footer ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
footer ul li {
	margin-bottom: 0.3em;
}
footer ul li a {
	color:#afd6e6 !important;
	font-size:1em;
	font-weight:300;
	line-height:1.4em;
	padding: 0.3em 0.4em;
	margin-left: -0.4em !important;
}
footer ul li a:hover {
	background-color: #1f7397 !important;
	text-decoration: none;
	color: #fff;
}

footer ul li a.spacer {
	padding: 0.2em 0;
}
footer ul li a.spacer:hover {
	background-color: transparent;
	cursor: default;
}

/*footer ul li a.divider {
	border-right: 1px solid #5a9eba;;
	padding: 0.2em 0;
	margin: 0 5px;
}
footer ul li a.spacer {
	padding: 0.2em 0;
	margin: 0 0 1em 0.5em;
}
footer ul li a.divider:hover, footer ul li a.spacer:hover {
	background-color: transparent;
	cursor: default;
}*/

@media (max-width: 767px) {
	footer {
		font-size:1em;
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}
	footer ul li {
		display: block !important;
	}
	footer ul li a {
		float: none !important;
	}
	footer ul li a.spacerXS {
		padding: 0.2em 0;
		margin-bottom: 0.3em;
	}
}
@media (max-width: 768px) {
	footer {
		font-size:0.9em;
	}
	footer ul li a.divider {
		margin: 0 3px;
	}
}

/* @end */



/* @group Footer Icon Nav */
@media (max-width: 767px) {
	.icon-nav-col a {
		display: block;
		padding-top: 2em;
	}
	.icon-nav-col-last a {
		display: block;
		padding-bottom: 2em;
	}
}
@media (min-width: 767px) {
	.icon-nav-col a {
		display: block;
		padding-top: 2em;
	}
	.icon-nav-col-last a {
		display: block;
		padding-bottom: 2em;
	}
}
@media (min-width: 992px) {
	.icon-nav-col a {
		display: block;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
}
@media (min-width: 1025px) {
	.icon-nav-col a {
		display: block;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
}


.icon-nav-col a:hover, .icon-nav-col a:hover h5 {
	background-color: transparent !important;
	color: #00beaf !important;
	text-decoration: none;
}

.icon-nav {
	background-color: #fff;
	border-top: 1px solid #dcdada;
	text-align: center;
}


#ico-enterprise-ftr {
	background: url('../images/ico-enterprise-ftr@2x.png') top center no-repeat;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
#ico-wireless-ftr {
	background: url('../images/ico-wireless-ftr@2x.png') top center no-repeat;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
#ico-logistics-ftr {
	background: url('../images/ico-logistics-ftr@2x.png') top center no-repeat;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
#ico-products-ftr {
	background: url('../images/ico-products-ftr@2x.png') top center no-repeat;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}



.icon-nav-col a:hover #ico-enterprise-ftr {
	background: url('../images/ico-enterprise-ftr@2x.png') top center no-repeat;
	background-position-y: -50px;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
.icon-nav-col a:hover #ico-wireless-ftr {
	background: url('../images/ico-wireless-ftr@2x.png') top center no-repeat;
	background-position-y: -50px;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
.icon-nav-col a:hover #ico-logistics-ftr {
	background: url('../images/ico-logistics-ftr@2x.png') top center no-repeat;
	background-position-y: -50px;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}
.icon-nav-col a:hover #ico-products-ftr {
	background: url('../images/ico-products-ftr@2x.png') top center no-repeat;
	background-position-y: -50px;
	background-size: 100%;
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 48px;
}

/* @end */
