@import url(nav.css);
@import url(overrides.css);
@import url(footer.css);

::selection {
	background-color: #2788b1;
	color: #f2f5f7;
}

body {font-family:'Raleway',Helvetica,Arial,sans-serif;font-size:16px;line-height:1.8;font-weight: 300;color:#7c868d;background-color:#f2f5f7;}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight:100;line-height:1.4;color:inherit;}
h1,.h1{font-size:3em;letter-spacing: -1px;color:#40748e;font-weight:300;}
h2,.h2{font-size:1.9em;letter-spacing: -1px;color:#323e48;font-weight:300;margin-top: 0;}
h3,.h3{font-size:0.9em;color:#5b6770;font-weight:800;text-transform: uppercase;line-height:1.4em;}
h4,.h4{font-size:1.2em;color:#323e48;font-weight:300;line-height:1.6em;}
h5,.h5{font-size:0.9em;color:#a3aaae;font-weight:300;text-transform: uppercase;line-height:1.4em;}

@media (max-width: 768px) {
	body {font-weight: 400;}
	h1,.h1{font-size:2em;line-height:1.1;letter-spacing: -1px;color:#40748e;font-weight:300;}
	h2,.h2{font-size:1.6em;letter-spacing: -1px;color:#323e48;font-weight:300;}
	h3,.h3{font-weight:800;}
	h4,.h4{font-weight:400;}
	h5,.h5{font-weight:400;}
}
@media (max-width: 1024px) {
	h1,.h1{font-size:2em;line-height:1.1;letter-spacing: -1px;color:#40748e;font-weight:300;}
	h2,.h2{font-size:1.6em;letter-spacing: -1px;color:#323e48;font-weight:300;}
	h3,.h3{font-weight:800;}
	h5,.h5{font-weight:400;}
}

/* @group Cat Page Headers */
body > div.headerWrapper {
	background: url('../images/bg-subCatHdr@2x.jpg') top center no-repeat;
	background-size: cover;
}
body > div#gpgHdrAbout {
	background: url('../images/bg-hdr-about@2x.jpg') top center no-repeat;
}
body > div#gpgHdrEnterprise {
	background: url('../images/bg-hdr-enterprise@2x.jpg') top center no-repeat;
}
body > div#gpgHdrWireless {
	background: url('../images/bg-hdr-wireless@2x.jpg') top center no-repeat;
}
body > div#gpgHdrLogistics {
	background: url('../images/bg-hdr-logistics@2x.jpg') top center no-repeat;
}
body > div#gpgHdrProducts {
	background: url('../images/bg-hdr-products@2x.jpg') top center no-repeat;
}
body > div#gpgHdrContact {
	background: url('../images/bg-hdr-contact@2x.jpg') top center no-repeat;
}
body#home > div.headerWrapper {
  background: none;
}
/* @end */


/* @group Media Specifics */
@media (max-width: 767px) {
	.subCatHeader {
		height: 6.5em;
		padding-top: 1.8em;
	}
	.catHeader {
		height: 11.4em;
		padding-top: 1.8em;
	}
	.catHeaderContact {
		text-align: center;
		margin-top: 2em;
	}
	.catHeaderContact h2, .catHeaderContact p {
		color: #fff;
	}
	.pgLeadIn {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		text-align: center;
	}
	.containPad {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
	.secPad {
		margin-bottom: 1.8em;
	}
	.cta-end {
		padding-top: 3.5em;
		padding-bottom: 5em;
		text-align: center;
	}
	.cta-yellow {
		background: url('../images/bg-cta-yelllow.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
	.cta-blue {
		background: url('../images/bg-cta-blue.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
	}
	.bg-whitepapers {
		background: url('../images/bg-contact-whitepapers.jpg') center center no-repeat;
		background-size: cover;
		color: #b1e5fb;
		border-radius: 0.5em;
		padding: 1em 1.5em 3em; 
		margin-top: 2.5em;
	}
	.article-snippet {
		display: block;
	  border-bottom:1px solid #d0d3d4;
		padding-bottom: 3em;
	}
}
@media (min-width: 767px) {
	.subCatHeader {
		height: 6.5em;
		padding-top: 1.8em;
	}
	.catHeader {
		height: 19.4em;
		padding-top: 1.8em;
	}
	.catHeaderIcon {
		text-align: center;
		margin-top: 4em;
	}
	.catHeaderContact {
		text-align: center;
		margin-top: 5.4em;
	}
	.catHeaderContact h2, .catHeaderContact p {
		color: #fff;
	}
	.pgLeadIn {
		padding-top: 4.5em;
		padding-bottom: 4.5em;
		text-align: center;
	}
	.containPad {
		padding-top: 4.5em;
		padding-bottom: 5em;
	}
	.secPad {
		margin-bottom: 2.2em;
	}
	.cta-end {
		padding-top: 4.5em;
		padding-bottom: 5em;
		text-align: center;
	}
	.cta-yellow {
		background: url('../images/bg-cta-yelllow.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 4.5em;
		padding-bottom: 4.5em;
	}
	.cta-blue {
		background: url('../images/bg-cta-blue.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 4.5em;
		padding-bottom: 4.5em;
	}
	.bg-whitepapers {
		background: url('../images/bg-contact-whitepapers.jpg') center center no-repeat;
		background-size: cover;
		color: #b1e5fb;
		border-radius: 0.5em;
		padding: 1.5em 2em 3em; 
		margin-top: 2.5em;
	}
	.article-snippet {
		display: block;
	  border-bottom: none;
		padding-bottom: 4em;
	}
	.article-pager {
	  border-top:1px solid #d0d3d4;
		padding-top: 2em;
		padding-bottom: 3em;
	}
}
@media (min-width: 992px) {
	.catHeader {
		height: 19.4em;
	}
	.catHeaderIcon {
		text-align: center;
		margin-top: 4em;
	}
	.catHeaderContact {
		text-align: left;
		margin-top: 1em;
	}
	.pgLeadIn {
		padding-top: 5em;
		padding-bottom: 6.8em;
		text-align: center;
	}
	.containPad {
		padding-top: 5.3em;
		padding-bottom: 6em;
	}
	.secPad {
		margin-bottom: 2.8em;
	}
	.cta-end {
		padding-top: 5em;
		padding-bottom: 7em;
		text-align: center;
	}
	.cta-yellow {
		background: url('../images/bg-cta-yelllow.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding: 7.5em inherit;
	}
	.cta-blue {
		background: url('../images/bg-cta-blue.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		padding: 7.5em inherit;
	}
	.bg-whitepapers {
		background: url('../images/bg-contact-whitepapers.jpg') center center no-repeat;
		background-size: cover;
		color: #b1e5fb;
		border-radius: 0.5em;
		padding: 1.5em 1.5em 3em; 
		margin-top: 0;
	}
	.article-snippet {
		display: block;
	  border-bottom:1px solid #d0d3d4;
		padding-bottom: 3em;
	}
	.article-pager {
	  border-top: none;
		padding-top: 0;
	}
}
@media (min-width: 1025px) {
	.subCatHeader {
		height: 7.5em;
		padding-top: 0 !important;
	}
	.catHeader {
		height: 23.4em;
		padding-top: 0 !important;
	}
	.catHeaderIcon {
		text-align: center;
		margin-top: 5em;
	}
	.catHeaderContact {
		margin-top: 3em;
	}
}
/* @end */

.blueContainer {
	background-color: #fff;
	border: 3px solid #1ca3dc;
	padding: 5em 3em;
	text-align: center;
	height: auto;
	margin-bottom: 2.5em;
}

.divider-brdr {
	border-top: 1px solid #dcdada;
	margin: 3.5em 0;
}
.divider-brdr-plain {
	border-top: 1px solid #dcdada;
	margin: 0 0;
}
.header-brdr {
	border-top: 1px solid #dcdada;
	margin: 0.5em 0 2.3em;
}
.map {
  border: 2px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	margin-bottom: 0.8em;
}

.press-snippet {
		padding-bottom: 4em;
}
.press-pager {
  border-top:1px solid #d0d3d4;
	padding-top: 2em;
	padding-bottom: 3em;
}

.article-tags {
	margin-top: 1.3em;
	margin-bottom: 4em;
}


/* @group VERT-ALIGN Styles */

.fill-orange {
	background-color: #ef9739;
	color: white;
}
.fill-darkblue {
	background-color: #185a7d;
	color: white;
}
.fill-bluegray {
	background-color: #40748e;
	color: white;
}

.bottom-margin {
	margin-bottom: 4.5em;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.vert-middle {
	display: inline-block;
	float: none;
	vertical-align: middle;
}


.fill-column-xs,
.fill-img-holder {
	position: relative;
}

.fill-column-xs .row,
.fill-column-sm .row,
.fill-column-md .row {
	overflow: hidden;
}

.fill-column-xs:before,
.fill-column-sm:before,
.fill-column-md:before {
	display: none;
	content: "";
	position: absolute;
	z-index: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.fill-column-xs:before {
	display: block;
}

.fill-column-1:before		{ left: 91.66666667%; }
.fill-column-1-half:before	{ left: 87.5%; }
.fill-column-2:before		{ left: 83.33333333%; }
.fill-column-2-half:before	{ left: 79.16666667%; }
.fill-column-3:before		{ left: 75%; }
.fill-column-3-half:before	{ left: 70.83333333%; }
.fill-column-4:before		{ left: 66.66666667%; }
.fill-column-4-half:before	{ left: 62.5%; }
.fill-column-5:before		{ left: 58.33333333%; }
.fill-column-5-half:before	{ left: 54.16666667%; }
.fill-column-6:before		{ left: 50%; }
.fill-column-6-half:before	{ left: 45.83333333%; }
.fill-column-7:before		{ left: 41.66666667%; }
.fill-column-7-half:before	{ left: 37.5%; }
.fill-column-8:before		{ left: 33.33333333%; }
.fill-column-8-half:before	{ left: 29.16666667%; }
.fill-column-9:before		{ left: 25%; }
.fill-column-9-half:before	{ left: 20.83333333%; }
.fill-column-10:before		{ left: 16.66666667%; }
.fill-column-10-half:before	{ left: 12.5%; }
.fill-column-11:before		{ left: 8.33333333%; }

.fill-column-orange:before,
.fill-column-orange .vert-middle:last-child {
	background: #ef9739;
}
.fill-column-darkblue:before,
.fill-column-darkblue .vert-middle:last-child {
	background: #185a7d;
}
.fill-column-bluegray:before,
.fill-column-bluegray .vert-middle:last-child {
	background: #40748e;
}

.fill-img-right {
	right: 0;
}
.fill-img-left {
	left: 0;
}

.fill-img-sm,
.fill-img-md {
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -1000% -1000%;
}

@media (min-width: 768px) {
	
	.fill-column-sm { position: relative; }
	.fill-column-sm:before { display: block; }
	
	.fill-img-sm {
		position: absolute;
		top: 0;
		height: 100%;
		overflow: hidden;
		background-position: 50% 50%;
	}
	.fill-img-sm img { display: none; }
	
}

@media (min-width: 992px) {
	
	.fill-column-md { position: relative; }
	.fill-column-md:before { display: block; }
	
	.fill-img-md {
		position: absolute;
		top: 0;
		height: 100%;
		overflow: hidden;
		background-position: 50% 50%;
	}
	.fill-img-md img { display: none; }
	
}

form .form-group.has-error .help-block {
  font-size: .8em;
  margin: 0;
}

/* @end */
