/*	----------------------------------------------------------------
	MaxCycle (Fullscreen Slideshow for use with jQuery Cycle Plugin)
	----------------------------------------------------------------
	
	Demo at: http://www.aaronvanderzwan.com/maxcycle/
	Download and Info at: http://github.com/akv2/MaxCycle---jQuery-Plugin/
	Copyright (c) 2007-2011 Aaron Vanderzwan
	Dual licensed under the MIT and GPL licenses.
	
*/
/*! Version: 2.0.73 (12-Oct-2012) */

/* Home page gradient over images */
#maximage .mc-image:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 30%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:         linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
}



@media (max-width: 767px) {
	#arrow_left {position: absolute;top: 85%;left: 40%;}
	#arrow_right {position: absolute;top: 85%;right: 40%;}
	#bg-home-1 h1, #bg-home-2 h1, #bg-home-3 h1, #bg-home-4 h1 {color: white !important;}
	#bg-home-1 p, #bg-home-2 p, #bg-home-3 p, #bg-home-4 p {font-weight: 400 !important;}
	#bg-home-1 {padding-top: 6.5em; color: white !important;}
	#bg-home-2 {padding-top: 6.5em; color: white !important;}
	#bg-home-3 {padding-top: 6.5em; text-align: right; color: white !important;}
	#bg-home-4 {padding-top: 6.5em; color: white !important;}
	.gray-overlay {background: rgba(50, 62, 72, 0.6); background-size: cover; height: 100%;}
}
@media (min-width: 768px) {
	#arrow_left {position: absolute;top: 45%;left: 3%;}
	#arrow_right {position: absolute;top: 45%;right: 3%;}
	#bg-home-1 h1, #bg-home-2 h1, #bg-home-3 h1, #bg-home-4 h1 {line-height: 1.1em;}
	#bg-home-1 p, #bg-home-2 p, #bg-home-3 p, #bg-home-4 p {font-weight: 400 !important;}
	#bg-home-1 {padding-top: 12.3em;}
	#bg-home-2 {padding-top: 13.3em;}
	#bg-home-3 {padding-top: 11em;}
	#bg-home-4 {padding-top: 13.3em;}
	.gray-overlay {background: transparent;}
}
@media (min-width: 992px) {
	#arrow_left {position: absolute;top: 45%;left: 3%;}
	#arrow_right {position: absolute;top: 45%;right: 3%;}
	#bg-home-1 {padding-top: 10em;}
	#bg-home-2, #bg-home-3, #bg-home-4 {padding-top: 10em;}
}
@media (min-width: 1025px) {
	#bg-home-1 {padding-top: 12em;}
	#bg-home-2 {padding-top: 13em;}
	#bg-home-3 {padding-top: 12em;}
	#bg-home-4 {padding-top: 13em;}
}


.mc-hide-scrolls{
	overflow:hidden;
}

body .mc-cycle {
	height:100%;
	left:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}

div.mc-image {
	/*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
	 	If you are using fading transitions, use 'opacity: */
	-webkit-transition: opacity 1s ease-in-out; 
	-moz-transition: opacity 1s ease-in-out; 
	-o-transition: opacity 1s ease-in-out; 
	transition: opacity 1s ease-in-out;
	
	/*If you are using horizontal slide transitions, use the following CSS:
	-webkit-transition: left 1s ease-in-out; 
	-moz-transition: left 1s ease-in-out; 
	-o-transition: left 1s ease-in-out; 
	transition: left 1s ease-in-out;*/
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	height:100%;
	overflow:hidden;
	width:100%;
}

.mc-old-browser .mc-image {
	overflow:hidden;
}
