/* Navbar Styles */

.top-nav {
	position: relative;
	z-index: 9999;
}

.top-nav-header {
	height: 44px;
}

#logo {
	float: left;
	margin: 8px 0 0 15px;
}
#logo img {
	height: 28px;
	width: auto;
	display: block;
}

#menu-toggle {
	position: relative;
	float: right;
	/*margin: 0 4px 0 0;*/
	width: 45px;
	height: 44px;
	cursor: pointer;
}
.menu-open #menu-toggle {
	background: #323e48;
	background: rgba(50,62,72,.9);
}
#menu-toggle span {
	position: absolute;
	left: 25%;
	top: 50%;
	display: block;
	margin: -1px 0 0;
	width: 50%;
	height: 2px;
	background: #fff;
}
.menu-open #menu-toggle span {
	opacity: 0.5;
}
#menu-toggle span:before,
#menu-toggle span:after {
	content: "";
	display: block;
	margin: -5px 0 0;
	width: 100%;
	height: 2px;
	background: #fff;
}
#menu-toggle span:after {
	margin: 8px 0 0;
}

.top-nav-menu {
	display: none;
	background: #323e48;
	background: rgba(50,62,72,.9);
	margin: 0;
	padding: 0;
}
.top-nav-menu li {
	list-style: none;
	font-size: 16px;
	line-height: 1.125;
}
.top-nav-menu a {
	display: block;
	padding: 21px 15px;
	color: #fff;
	text-decoration: none;
	outline: none;
}
.top-nav-menu .drop > a {
	background-image: url('../images/secondary-arrow-down.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.top-nav-menu > li.open > a {
	background-color: #00beaf;
}
.top-nav-menu > li.open > a {
	background-image: url('../images/secondary-arrow-up.png');
}
#get-started {
	background: rgba(255,255,255,0.1);
	border-top: 1px solid #fff;
	border-color: rgba(255,255,255,0.5);
}
.top-nav-menu li ul {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #00beaf;
}
.hide-nav .top-nav-menu li ul {
	display: none;
}
.top-nav-menu li li {
	font-size: 14px;
}
.top-nav-menu li li a {
	padding: 11px 15px 11px 30px;
	text-decoration: none;
}
.top-nav-menu li li a:hover,
.top-nav-menu li li a:focus {
	background: #00beaf;
}



/* Navbar Desktop Styles */

@media (min-width: 1025px) {

.top-nav {
	margin: 55px auto 0;
	padding: 0 15px;
	width: 970px;
	height: 40px;
}

.top-nav-header {
	height: auto;
}

#menu-toggle {
	display: none;
}

#logo {
	margin: 3px 0 0;
}
#logo img {
	height: 34px;
}

.top-nav-menu {
	display: block !important;
	float: right;
	background: none;
}

.top-nav-menu > li {
	position: relative;
	float: left;
	margin-right: 28px;
	height: 40px;
	font-size: 13px;
	line-height: 16px;
}
.top-nav-menu > li.drop-last {
	margin-right: 54px;
}
.top-nav-menu > li > a {
	padding: 12px 0 0;
	height: 100%;
}
.top-nav-menu > li.drop > a,
.top-nav-menu > li.open > a {
	background: none;
}
.top-nav-menu > li:hover > a,
.top-nav-menu > li:focus > a,
.top-nav-menu > li.active > a {
	background: none;
	border-bottom: 1px solid #fff;
}


#get-started {
	margin-right: 0;
	border: none;
}
#get-started > a {
	padding: 11px 20px 0;
	border: 1px solid #fff;
	border-color: rgba(255,255,255,0.5);
	border-radius: 4px;
}
#get-started:hover > a, 
#get-started:focus > a, 
#get-started.active > a {
	border-color: #fff;
}

.top-nav-menu li ul {
	display: block !important;
	position: absolute;
	left: -999em;
	top: 40px;
	padding: 1px 0 0;
	width: 200px;
	border: none;
	-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
	        box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
}
.top-nav-menu li:hover ul,
.top-nav-menu li:focus ul {
	left: 0;
}
.top-nav-menu li.drop ul > li:first-child {
	display: none;
}
.top-nav-menu li li {
	font-size: 13px;
	line-height: 16px;
}
.top-nav-menu li li a {
	padding: 12px 20px;
	color: #f1585e;
	background: #fff;
	border-bottom: 1px solid #dcdedf;
}
.top-nav-menu li li a:hover,
.top-nav-menu li li a:focus {
	background: #1ca3dc;
	color: #fff;
	border-color: #188ec0;
}

} /* END Navbar Desktop Styles */



/* Navbar Wide Desktop Styles */

@media (min-width: 1200px) {

.top-nav {
	width: 1170px;
}

} /* END Navbar Desktop Styles */
