/* @group MISC ITEMS */

.circle-image {
  border: 1px solid #ccc;
  padding: 4px;
  background: white;
}
.circle-image, .circle-image img {
  border-radius: 100%;
}

/* Global Link Color */
.container a {
  color: #f1585e;
  text-decoration: none;
  padding: 0.3em 0.4em;
  margin-left: -0.4em;
}
.container a:hover,
.container a:focus {
  color: #fff;
  background-color: #1da3dc;
  text-decoration: none;
}


.strong {font-weight: 600;color: #5b6770;}
.white {color: white;}
.lightblue {color: #2788b1;}
.required {color: #ea2727;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

dd {
	background: url('../images/ico-check-blue@1x.png') top left no-repeat;
	background-position-y: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
	padding-left: 2em;
}


.well {
  background-color: white;
  border: 1px solid #40748e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-blue {
	background-color: #1ca3dc;
	color: #b1e5fb;
}

label {
	font-size:0.8em;font-weight:600;text-transform: uppercase;line-height:1.4em;
	display: inline-block;
  max-width: 100%;
  margin-bottom: 0.3em;
}

.label-primary {
  border:1px solid #d0d3d4;
  background-color: transparent;
  font-weight: 400;
  color: #7c868d;
  padding: 0.4em 0.7em;
	display: inline-block;
  margin-right: 0.4em !important;
  margin-bottom: 0.7em !important;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: white;
  border: 1px solid #d0d3d4;
  border-radius: 5px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  border: 1px solid #1ca3dc;
  background-color: #1ca3dc;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #d0d3d4;
  cursor: not-allowed;
  border: 1px solid #d0d3d4;
  background-color: transparent;
}


/* @end */


/* @group Media-Specific Overrides */

@media (max-width: 767px) {
	.well-lg {
		padding: 1.5em 1em;
		margin-top: 1.5em;
	}
	.well-lg h2 {
		padding-top: 0 !important;
	}
}
@media (min-width: 767px) {
	.well-lg {
		padding: 2em;
	}
	.well-lg h2 {
		padding-top: 0 !important;
	}
}
@media (min-width: 992px) {
	.well-lg {
		padding: 4em 4.5em;
	}
}

/* @end */

/* @group FORMS */
.form-control:-moz-placeholder{color:#c2c6c9;font-size:0.8em;font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight: 300;padding-top: 0.15em;}
.form-control::-moz-placeholder{color:#c2c6c9;font-size:0.8em;font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight: 300;padding-top: 0.15em;}
.form-control:-ms-input-placeholder{color:#c2c6c9;font-size:0.8em;font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight: 300;padding-top: 0.15em;}
.form-control::-webkit-input-placeholder{color:#c2c6c9;font-size:0.8em;font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight: 300;padding-top: 0.15em;}
.form-control:focus {
  border-color: #00beaf;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 190, 175, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 190, 175, 0.6);
}

/* @end */



/* @group BUTTONS */
.btn-primary {
	font-weight: 600;
	font-size: 0.8em;
	text-transform: uppercase;
  color: white !important;
  background-color: #00beaf;
  border-color: #00beaf;
  padding: 1.3em 1.6em 1.3em !important;
  margin-top: 1em;
  margin-left: 0 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1da3dc !important;
  border-color: #1da3dc !important;
}
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.8em 1.2em 0.8em !important;
	font-size: 0.7em;
  line-height: 1.5;
  border-radius: 3px;
}

/*btn-OUTLINE*/
.btn-outline {
	font-weight: 600;
	font-size: 0.8em;
	text-transform: uppercase;
  color: white !important;
  background-color: transparent !important;
  border-color: #fff;
  padding: 1.4em 1.7em 1.4em !important;
  margin-top: 1em;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.open > .dropdown-toggle.btn-outline {
  color: #ffffff;
  background-color: #0eada0;
  border-color: #0eada0;
}

/*Well-Blue btn-OUTLINE*/
.well-blue .btn-outline {
	font-weight: 600;
	font-size: 0.8em;
	text-transform: uppercase;
  color: white !important;
  background-color: transparent !important;
  border-color: #b1e5fb;
  padding: 1.4em 1.7em 1.4em !important;
  margin-top: 1em;
}
.well-blue .btn-outline:hover,
.well-blue .btn-outline:focus,
.well-blue .btn-outline:active {
  color: white;
  border-color: white !important;
}
/*@end */



/* @group Breadcrumbs */
.breadcrumb {
	font-size:0.8em;font-weight:400;line-height:1.4em;
  padding: 8px 15px;
  margin: 1em 0 0.2em;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li a {
  margin-left: 0 !important;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #7c868d;
}
/* @end */
