{% extends "skinnyit/subpage.html" %}
{% block title %}Wireless Deployment : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<h2>Multi-Site installation manpower available nationwide.</h2>
	</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1 ">
		<p>End-to-end Technology Deployment Services are backed by a proven deployment infrastructure, ensuring that engineers with the right skills complete your installations on time and within budget.</p>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-sm-4">
		<h3>Project Management</h3>
		<p>For a truly seamless experience, our industry-certified Project Managers (PMs) will serve as your single point of contact and as accountability through-out the entire deployment process.</p>
	</div>
	<div class="col-sm-4">
		<h3>Site Preparation Services</h3>
		<p>We’ll evaluate your site’s power, structure, networking, and cabling environment, and make any necessary changes to ensure your sites are ready for installation.</p>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="col-sm-4">
		<h3>Staging</h3>
		<p>Our staging professionals will assemble, load, configure, and test all of your hardware and software—from NCR of other vendors—so they arrive on time and ready to install.</p>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr">
	</div>
	</div>

	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>As a result, your consumers will have quicker access to your newly installed equipment and software, providing a faster return on your investment.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
