{% extends "skinnyit/subpage.html" %}
{% block title %}EFI&amp;T Services : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1">
		<h2><span class="strong lightblue">EFI&amp;T</span>&nbsp;&nbsp;|&nbsp;&nbsp;Engineer, Furnish, Install &amp; Test</h2>
	</div>
	</div>

	<div class="row" style="text-align:left !important;">
	<div class="col-sm-4">
		<p>With years of experience procuring and installing equipment and systems for every type of communications network, we understand the challenges Telco and Service Providers face.</p>
	</div>
	<div class="col-sm-4">
		<p>We offer complete turn-key Engineer, Furnish, Install, and Test (EFI&amp;T) services for central offices and data centers. We work with most major wire-line and wireless service providers and carrier class equipment manufacturers.</p>
	</div>
	<div class="col-sm-4">
		<p>Using proven methodologies, we will meet or exceed your expectations and help make sure that each deployment objective is delivered on time and within cost constraints.</p>
	</div>
	</div>
</section>


<div class="container containPad well well-lg">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 text-center secPad">
		<h2>Benefits of EFI&amp;T Services</h2>
    <p>Skinny IT EFI&amp;T services provide clients a “one-stop shop” to meet all their needs. Benefits include:</p>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-6 col-md-3">
		<h3>Project Management</h3>
		<p>A single point of contact to handle all aspects of the project.</p>
	</div>
	<div class="col-sm-6 col-md-3">
		<h3>Engineering</h3>
		<p>Design, configuration, and bill of material development and validation capabilities.</p>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="col-sm-6 col-md-3">
		<h3>Staging</h3>
		<p>A fully-staffed integration center with 500 AMPs of -48 VDC power and open floor space.</p>
	</div>
	<div class="col-sm-6 col-md-3">
		<h3>DC Power Installation</h3>
		<p>Cable installation, H-taps, and lugs, all tied into the return buss and Battery Distribution Fuse Bay (BDFB).</p>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-6 col-md-3">
		<h3>Rack and Stack</h3>
		<p>Relay rack installation and grounding. Equipment stacked per design elevations.</p>
	</div>
	<div class="col-sm-6 col-md-3">
		<h3>Cabling</h3>
		<p>Installation and end-to-end validation testing of all copper and fiber data cables.</p>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="col-sm-6 col-md-3">
		<h3>Test and Turn-Up</h3>
		<p>Operational and functional testing; full system commissioning in production mode.</p>
	</div>
	<div class="col-sm-6 col-md-3">
		<h3>As-Built Documentation</h3>
		<p>Detailed breakdown and digital pictures of cable paths and rack elevations.</p>
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h2>Our EFI&T services are the result of years of experience using proven methodologies and industry best practices to help you align business objectives with IT strategies.</h2>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-6 col-md-3">
		<p>Our team of PMI certified project managers provide full program management of all phases of communications installation or specific portions of a network upgrade. Certified network engineers perform network health checks, site surveys, configuration development, operational and functional testing, and full service network commissioning.</p>
	</div>
	<div class="col-sm-6 col-sm-pull-0 col-md-3 col-md-push-3">
		<p>Every data cable, relay rack, network device, power cable, ground cable, and termination point is inspected and signed-off on. Every device is installed and tested as a functional system during staging and is tested again upon installation at your facility. We fully commission every device as a functional system.</p>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="col-sm-6 col-sm-push-0 col-md-3 col-md-pull-3">
		<p>Furnishing services include bill of material validation, material handling, logistic and third party equipment coordination, staging and integration, inventory tracking, and transportation. On-site installations are compliant with the communications industry standard Telcordia GR1275 specifications.</p>
	</div>
	<div class="col-sm-6 col-md-3">
		<p>The last step in any implementation is the creation of the as-built document created specifically to describe how each device, rack, cable run, power feed, and ground cable was designed, configured, and integrated into the network solution as a whole.</p>
	</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h2>Configuration and Deployment</h2>
	</div>
	</div>

	<div class="row">
	<div class="vert-middle col-sm-5 well well-lg well-blue">
		<p class="white">We bring  the configuration process into a centralized, controlled environment, where ISO 9001-certified processes are followed. By following these strict processes, order accuracy rates of 99.9 percent can be achieved. We use ISO-certified Quality Assurance processes so you receive high-quality, configured systems.</p>
	</div><div class="vert-middle col-sm-6 col-sm-offset-1">
		<p>You can keep track of your systems with a digital birth certificate for every Intel®-compatible system configured. This birth certificate contains detailed hardware and software information and a complete inventory of all software products and versions loaded.</p><p>This enables you to access this data through the web-based procurement system (i.e. the client portal). Data from this service can be directly fed into an asset tracking system as part of a wider, asset management strategy.</p>
	</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h2>Integration, Warehouse and Transportation</h2>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-6">
		<p>The majority (on average, 95%) of our shipments leave the warehouse on the same-day as ordered. Our warehouse operation includes the ability to consolidate and coordinate all ordered products and gives us the ability to quote and perform client-specific handling requests.</p>
	</div>
	<div class="col-sm-6">
		<p>Our warehouse inventory management and product tracking uses wireless technology to help ease transportation concerns. Our seamless carrier tracking capability offers web-enabled primary carriers. And our multi-carrier network has a 99% on-time delivery.</p>
	</div>
	</div>
</div>

<div class="container blueContainer" style="text-align:left !important;">
	<div class="row">
	<div class="col-sm-7">
		<h2>Installation and Turn-Up Services</h2>
		<p>With access to more than 13,000 dispatched technicians in the United States, Canada, and Puerto Rico, we are a leader in field service and support. We average thousands of calls a month. Our technicians cover 37,000 zip codes in the U.S. alone. We support network, server, personal computer, printer, and other peripherals, as well as point- of-sale equipment from major manufacturers such as Cisco, HP, Dell, IBM, Intel, and more.</p>
		<p>Our configuration centers use proven methodologies and our engineering field force will follow your requirements to make sure  networking components get delivered and installed on-time.</p>
		<h4>For turn-up services, we will engage our project management specialists.</h4>
	</div>

	<div class="row visible-xs">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr">
	</div>
	</div>

	<div class="col-sm-5">
		<h2>Field Dispatch</h2>
		<p>Skinny IT Field Dispatch Services includes both warranty and non-warranty hardware maintenance. We have time and material, per incident, and annuity contract pricing. We also provide desk-side software support.</p>
		<p>Our field dispatch services also include refreshing, upgrading, and migration projection with on-site dedicated staff augmentation and asset disposal that is both eco-safe and secure.</p>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>Whatever the problem. Whatever the deadline.<br>You can count on Skinny IT.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
