{% extends "skinnyit/subpage.html" %}
{% block title %}Wireless Engineering Overview : Skinny IT{% endblock %}
{% block header_id %}pgHdrWireless{% endblock %}

{% block header_icon %}<img src="{{ STATIC_URL }}skinnyit/images/ico-wireless-white@2x.png" height="90" width="90" alt="Enterprise Resources icon" />{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>There’s more—much more—to wireless solutions than picking some gear and installing it.</h2>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<p>At Skinny IT, we take the time to understand your business and its goals. That way, we can call upon vast resources to engineer the perfect solution and follow it all up with outstanding customer service.</p>
	</div>
	</div>
</section>

<div class="container no-bottom-margin ">
	<div class="row fill-img-holder fill-bluegray fill-column-sm fill-column-5 fill-column-bluegray">
		<div class="vert-middle col-sm-4 col-sm-offset-1 containPad">
			<h4 class="white">Skinny IT can provide software-based networking solutions that enable mobile service providers to deliver next generation services over 4G LTE networks.</h4>
		</div><div class="col-sm-6 col-md-6 col-md-offset-1 fill-img-sm fill-img-right" style="background-image:url('{{ STATIC_URL }}skinnyit/images/img-content-wireless-engineering@2x.jpg');">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-wireless-engineering@2x.jpg" class="img-responsive visible-xs" alt="" />
		</div>
	</div>

	<div class="row blueContainer" style="border-top: none;">
	<div class="col-sm-12">
		<p>Skinny IT has a fully virtualized end to end portfolio of Voice/Video, Messaging and Mobile Core products that include IP Multimedia Subsystem (IMS), Evolved Packet Core (EPC) and Session Border Controller (SBC). Skinny IT Solutions are based award-winning software platforms, leverage NFV and SDN technologies for deployments on cloud-based infrastructure.</p>
	</div>
	</div>
</div>

<div class="container cta-end">
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
		<h2>In the end, you get nothing less than a <span class="lightblue">rock-solid communications solution</span>.</h2>
		<a href="/contact/" class="btn btn-primary btn-lg" role="button">Get Started Today</a>
	</div>
	</div>
</div>


	
{% endblock %}
