{% extends "skinnyit/subpage.html" %}
{% block title %}Management Team : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h2>Service with some style</h2>
    <p>Everything we do by design makes your business look and operate better than before.</p>
  </div>
  </div>
</section>

<div class="container secPad">
	<div class="row">
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1 circle-image">
				<img src="{{ STATIC_URL }}skinnyit/images/services-retail-circle@2x.jpg" class="img-responsive" alt="#" />
			</div>
			</div>
			<h3>Retail</h3>
      <h2>The best way to keep retail running</h2>
      <p>The retail world moves fast; which is why we stay ahead. Both big chains and small mom-and-pops need reliable equipment in order to keep up.</p>
      <p><a href="/services/retail/" class="btn btn-primary">Learn More</a></p>
		</div>
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1 circle-image">
				<img src="{{ STATIC_URL }}skinnyit/images/services-wifi-circle@2x.jpg" class="img-responsive" alt="#" />
			</div>
			</div>
			<h3>Wifi Design, Deployment & Optimization</h3>
      <h2>Today's business world is untethered.</h2>
      <p>Are most of your employees on laptops, tablets, and smartphones? We can help you cut the cords while staying connected.</p>
      <p><a href="/services/wifi-design/" class="btn btn-primary">Learn More</a></p>
		</div>
		<div class="col-sm-4 secPad">
			<div class="row">
			<div class="col-xs-10 col-xs-offset-1 circle-image">
				<img src="{{ STATIC_URL }}skinnyit/images/services-efit-circle@2x.jpg" class="img-responsive" alt="#" />
			</div>
			</div>
			<h3>EFI&T</h3>
      <h2>When it comes to communication, everything should be custom.</h2>
      <p>Your business is not your competitor's business. Which is why your needs are special. We will enginner, furnish, install, and test your custom solution to ensure it works and works for you</p>
      <p><a href="/services/efit-services/" class="btn btn-primary">Learn More</a></p>
		</div>
	</div>
</div>


{% endblock %}
