{% extends "skinnyit/subpage.html" %}
{% block title %}Retail{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h2>When it comes to designing, procuring, and installing IT equipment, retailers have unique needs.</h2>
		<p>Whether building brand new stores, undergoing serious remodels, or simply needing upgrades, we have everything retailers require from equipment to installation.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
		<div class="col-sm-4">
			<h3>We keep retail running</h3>
			<p>We service big box retailers, small retailers, quick service restaurants, distribution centers, and everything else in between. And that is just the beginning.</p>
		</div>
		<div class="col-sm-4">
			<h3>We are local around the globe</h3>
			<p>For our customers interested in extending their footprints, we are able to implement custom solutions all over the world, for each location operation to function the same way.</p>
		</div>
		<div class="col-sm-4">
			<h3>One-stop shop</h3>
			<p>We have the know-how and the equipment for end-to-end Wi-Fi engagements, POS deployments, wiring and cabling, and much more.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
		<div class="vert-middle col-md-5">
      <h2>IT Onsite Technical Help</h2>
			<p>Call Skinny IT and we can usually have someone out to assist you within 24 hours.</p>
		  <dd>Break / Fix</dd>
		  <dd>Install and Deploy Hardware and Software</dd>
		  <dd>Server / Network / Storage Upgrades and Troubleshooting</dd>
		  <dd>Manpower Surge for Large Projects</dd>
		  <dd>Off-Hour Technical Help</dd>
		  <dd>Site Upgrades and Replacement / Consolidation</dd>
    </div>

    <div class="vert-middle col-md-5 col-md-offset-1 circle-image">
      <img src="{{ STATIC_URL }}skinnyit/images/services-retail2-circle@2x.jpg" class="img-responsive" alt="#" />
		</div>
	</div>

</div>

	
{% endblock %}
