{% extends "skinnyit/subpage.html" %}
{% block title %}WiFi Design, Deployment &amp; Optimization : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-12">
		<h2>Over the last decade, Skinny IT has watched desktop computers and ethernet cables shrink in population as laptops, notebooks, tablets, and smartphones take over business.</h2>
	</div>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<p>WiFi networks are a necessity for any successful business, and we know what it takes to create a successful Wifi network.</p>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1 text-center secPad">
		<h2>If you have an existing WiFi network that needs improvement, a site survey is what you need.</h2>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-4">
		  <dd>Get optimum performance from your existing network</dd>
		  <dd>Identify vulnerabilities in security</dd>
		  <dd>Identify performance issues</dd>
	</div>
	<div class="col-sm-8">
		<h4 class="strong">We’ll come to your site and perform an analysis while documenting everything.</h4><p>Our engineers will suggest Access Point locations, create a Frequency Reuse Plan, and make installation suggestions.</p>
	</div>
	</div>
</div>

<div class="container containPad well well-lg">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h2>How is your current network performing? We can tell you exactly with a WiFi Performance Survey.</h2><h4>Our engineers will come to your site and assess the health of your entire network, including:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-6 secPad">
		  <dd>How much traffic your network can handle</dd>
		  <dd>All relevant metrics</dd>
		  <dd>Spare capacity</dd>
		  <dd>Issues preventing speed and performance</dd>
		  <dd>and more&hellip;</dd>
	</div>
	<div class="col-sm-6 well well-blue" style="padding-left: 3em;padding-right: 3em;">
		<h4 class="white">Understand what’s going on with your network and easily see how to make improvements with a detailed report from Skinny IT.</h4>
		<h3><a href="/contact/" class="btn btn-outline">Get Started Today</a></h3>
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row secPad">
	<div class="col-sm-10 col-sm-offset-1 text-center">
		<h2>Whether improving your existing WiFi system or building a new one from the ground up, we have you covered from every angle.</h2><h4>Our installation services include:</h4>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-3 col-sm-offset-3">
		  <dd>Access points</dd>
		  <dd>Enclosures</dd>
		  <dd>Antennas</dd>
	</div>
	<div class="col-sm-5">
		  <dd>Backbone LAN</dd>
		  <dd>Power and remote power systems</dd>
		  <dd>Network management verification</dd>
	</div>
	</div>
</div>


<div class="container cta-yellow">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h4 class="white">When it comes to Distributed Antenna System (DAS), Skinny IT also excels. We’re well versed in industry compliance and best practices, ensuring your system meets all requirements.</h4>
		<a href="/contact/" class="btn btn-outline btn-lg" role="button">Get Started</a>
	</div>
	</div>
</div>


	
{% endblock %}
