<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
  {% block extra_meta %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

  <link href='http://fonts.googleapis.com/css?family=Raleway:600,300,400,100,800' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link href="{{ STATIC_URL }}skinnyit/css/bootstrap.css" rel="stylesheet" media="screen">
  <!-- SkinnyCSS -->
  <link href="{{ STATIC_URL }}skinnyit/css/main.css" rel="stylesheet" media="screen">
  {% block extra_style %}{% endblock %}
</head>

<body id="{% block page_id %}{% endblock %}">
  {% block body %}

  {% block header %}
  <div class="{% block header_class %}headerWrapper{% endblock %}" id="{% block header_id %}{% endblock %}">
  <section class="{% block section_header_class %}catHeader{% endblock %} container-fluid" >
    <!-- NAV Structure -->
    <nav class="top-nav" role="navigation">

      <div class="top-nav-header">
        <a href="/" id="logo"><img src="{{ STATIC_URL }}skinnyit/images/logo@2x.png" alt="Skinny IT: Solve. Simplify. Scale"></a>
        <div id="menu-toggle"><span></span></div>
      </div> <!--/.top-nav-header-->

      <ul class="top-nav-menu">

        <li class="drop">
          <a href="/enterprise-resources/">Enterprise Resources</a>
          <ul role="menu">
            <li><a href="/enterprise-resources/">Overview</a></li>
            <li><a href="/enterprise-resources/engineering-design/">Engineering Design</a></li>
            <li><a href="/enterprise-resources/procurement/">Procurement</a></li>
            <li><a href="/enterprise-resources/deployment/">Deployment</a></li>
            <li><a href="/enterprise-resources/integration/">Integration</a></li>
            <li><a href="/enterprise-resources/pro-services/">Professional Services</a></li>
            <li><a href="/enterprise-resources/supply-chain/">Supply Chain</a></li>
          </ul>
        </li>

        <li class="drop">
          <a href="/services/">Services</a>
          <ul role="menu">
            <li><a href="/services/">Overview</a></li>
            <li><a href="/services/retail/">Retail</a></li>
            <li><a href="/services/wifi-design/">WiFi Design, Deployment &amp; Optimization</a></li>
            <li><a href="/services/efit-services/">EFI&amp;T Services</a></li>
          </ul>
        </li>

        <li class="drop">
          <a href="/cellular-infrastructure/">Cellular Infrastructure</a>
          <ul role="menu">
            <li><a href="/cellular-infrastructure/">Overview</a></li>
            <li><a href="/cellular-infrastructure/packet-core/">Evolved Packet Core</a></li>
            <li><a href="/cellular-infrastructure/voice-lte/">Voice Over LTE</a></li>
            <li><a href="/cellular-infrastructure/voice-wifi/">Voice Over WiFi</a></li>
            <li><a href="/cellular-infrastructure/media-resource/">Media Resource Program</a></li>
            <li><a href="/cellular-infrastructure/custom-development/">Custom Development</a></li>
            <li><a href="/cellular-infrastructure/network-optimization/">Network Optimization</a></li>
            <li><a href="/cellular-infrastructure/engineering/">Engineering</a></li>
          </ul>
        </li>

        <!--<li>
          <a href="/logistics/">Logistics</a>
        </li>-->

        <li class="drop">
          <a href="/about/">About</a>
          <ul role="menu">
            <li><a href="/about/">Overview</a></li>
            <li><a href="/about/justfacts/">Just the Facts</a></li>
            <li><a href="/about/facility/">Facility</a></li>
            <!--
            <li><a href="/about/management/">Management</a></li>
            -->
            <li><a href="/about/success-stories/">Success Stories</a></li>
            <li><a href="/about/partners/">Partners</a></li>
            <li><a href="/about/careers/">Careers</a></li>
            <li class="divider"></li>
            <li><a href="/press/">Press</a></li>
            {% if has_whitepapers %}
            <li><a href="/white-papers/">White Papers</a></li>
            {% endif %}
          </ul>
        </li>

        <li id="blog" class="drop-last">
          <a href="http://blog.skinnyit.com/" target="_blank">Blog</a>
        </li>

        <li id="get-started">
          <a href="/contact/">Get Started</a>
        </li>

      </ul>

    </nav>
    {% block header_icon_wrapper %}
    <div class="row">
      <div class="catHeaderIcon img-responsive hidden-xs">
      {% block header_icon %}
      {% endblock %}
      </div>
    </div>
    {% endblock %}
  </section>
  </div>
  {% endblock header %}

  {% block main %}
    {% block content %}
    {% endblock %}
  {% endblock main %}

  {% block footer %}
  <div class="container-fluid icon-nav">
  <section class="container ">
    <div class="row">
    <div class="col-sm-4 icon-nav-col">
      <a href="/cellular-infrastructure/"><div id="ico-products-ftr"></div>
      <h5 class="gridNav">Anything You Want,<br>We Have It</h5></a>
    </div>
    <div class="col-sm-4 icon-nav-col">
      <a href="/enterprise-resources/"><div id="ico-enterprise-ftr"></div>
      <h5 class="gridNav">Solutions Designed<br>For Your Business</h5></a>
    </div> 
    <div class="col-sm-4 icon-nav-col icon-nav-col-last">
      <a href="/services/"><div id="ico-wireless-ftr"></div>
      <h5 class="gridNav">rock-solid communications<br>solution @ work</h5></a>
    </div>
    <!--<div class="col-sm-6 col-md-3 icon-nav-col icon-nav-col-last">
      <a href="/logistics/"><div id="ico-logistics-ftr"></div>
      <h5 class="gridNav">Your Vision,<br>Accomplished</h5></a>
    </div>-->
    </div>
  </section>
  </div>
  <footer class="container-fluid">
  <section class="container">
    <div class="row">
    <div class="hidden-xs col-sm-3 col-md-2">
      <ul>
          <li><span class="ftrCatHdr"><a class="ftrLink" href="/enterprise-resources/">Enterprise Resources</a></span></li>
          <li><a href="/enterprise-resources/engineering-design/">Engineering Design</a></li>
          <li><a href="/enterprise-resources/procurement/">Procurement</a></li>
          <li><a href="/enterprise-resources/deployment/">Deployment</a></li>
          <li><a href="/enterprise-resources/integration/">Integration</a></li>
          <li><a href="/enterprise-resources/pro-services/">Professional Services</a></li>
          <li><a href="/enterprise-resources/supply-chain/">Supply Chain</a></li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="hidden-xs col-sm-3 col-md-2">
      <ul>
          <li><a class="spacer visible-xs" href="#">&nbsp;</a></li>
          <li><span class="ftrCatHdr"><a class="ftrLink" href="/services/">Services</a></span></li>
          <li><a href="/services/retail/">Retail</a></li>
          <li><a href="/services/wifi-design/">WiFi Design, Deployment &amp; Optimization</a></li>
          <li><a href="/services/efit-services/">EFI&amp;T Services</a></li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="hidden-xs col-sm-3 col-md-2">
      <ul>
          <li><a class="spacer visible-xs" href="#">&nbsp;</a></li>
          <li><span class="ftrCatHdr"><a class="ftrLink" href="/about/">Cellular Infrastructure</a></span></li>
          <li><a href="/cellular-infrastructure/packet-core/">Evolved Packet Core</a></li>
          <li><a href="/cellular-infrastructure/voice-lte/">Voice Over LTE</a></li>
          <li><a href="/cellular-infrastructure/voice-lte/">Voice Over WiFi</a></li>
          <li><a href="/cellular-infrastructure/media-resource/">Media Resource Program</a></li>
          <li><a href="/cellular-infrastructure/custom-development/">Custom Development</a></li>
          <li><a href="/cellular-infrastructure/network-optimization/">Network Optimization</a></li>
          <li><a href="/cellular-infrastructure/engineering/">Engineering</a></li>
      </ul>
    </div>
    <!--<div class="hidden-xs col-sm-2 col-md-2">
      <ul>
          <li><a class="spacer visible-xs" href="#">&nbsp;</a></li>
          <li><span class="ftrCatHdr"><a class="ftrLink" href="/about/">Logistics</a></span></li>
      </ul>
    </div>-->
    <div class="hidden-xs col-sm-3 col-md-2">
      <ul>
          <li><span class="ftrCatHdr"><a class="ftrLink" href="/about/">About</a></span></li>
          <li><a href="/about/justfacts/">Just the Facts</a></li>
          <li><a href="/about/facility/">Facility</a></li>
          <!--
          <li><a href="/about/management/">Management</a></li>
          -->
          <li><a href="/about/success-stories/">Success Stories</a></li>
          <li><a href="/about/partners/">Partners</a></li>
          <li><a href="/about/careers/">Careers</a></li>
          <li><a href="/press/">Press</a></li>
          <li><a href="/white-papers/">White Papers</a></li>
      </ul>
    </div>
      <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-md-2 col-md-push-2" >
      <div class="hidden-md hidden-lg" style="margin-top:2.5em;"></div>
      <div style="display:block;margin-bottom:1em;">
        <img src="{{ STATIC_URL }}skinnyit/images/logo@2x.png" height="30" width="auto" alt="Skinny IT Logo" style="margin-bottom:0.7em" />
        <p>&copy; Copyright 2014-{% now "y" %}<br>Skinny IT Corp.</p>
      </div>
      <address>
        <p>10570 John W. Elliott Drive<br>Suite 800<br>Frisco, Texas 75033</p>
        <ul>
            <li class="visible-xs visible-sm"><a href="/privacy/">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/terms/">Terms &amp; Conditions</a></li>
            <li class="hidden-xs hidden-sm"><a href="/privacy/">Privacy Policy</a></li>
            <li class="hidden-xs hidden-sm"><a href="/terms/">Terms &amp; Conditions</a></li>
        </ul>
      </address>
    </div>
    </div>
  </section>	
  </footer>
  {% endblock footer %}

  {% endblock body %}

  <!-- jQuery (necessary for JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JS-->
  <script src="{{ STATIC_URL }}skinnyit/js/bootstrap.js"></script>
  <!-- Navigation JS-->
  <script src="{{ STATIC_URL }}skinnyit/js/main.js" type="text/javascript"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}skinnyit/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="{{ STATIC_URL }}skinnyit/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Remarketing Pixel -->
  <script async src="https://i.simpli.fi/dpx.js?cid=90070&action=100&segment=KMG_iGeoSkinnyIT_Site&m=1&sifi_tuid=52000"></script>

  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-106626933-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106626933-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-106626933-1');
  </script>
  {% block extra_js %}
  {% endblock %}
</body>
</html>
