<div class="container hidden-xs">
	<div class="row">
	<ol class="breadcrumb pull-right">
    {% for path, name in breadcrumbs %}
    {% if not forloop.last %}
      <li><a href="{{ path }}">{{ name }}</a></li>
    {% else %}
      <li class="active">{{ name }}</li>
    {% endif %}
    {% endfor %}
	</ol>
	</div>
</div>
