{% extends "skinnyit/subpage.html" %}
{% load ui_tags %}
{% block title %}Contact Skinny IT{% endblock %}
{% block header_id %}pgHdrContact{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container">
  <h1>Contact Us</h2>
  <div class="row">
  <div class="col-md-8 secPad"><!-- This COL is for the 2/3 col for the form -->
    <form role="form" method="post">{% csrf_token %}
      {% with contact_form as form %}
      <input type="hidden" name="type" value="contact">

      <div class="row"><!-- ROW 1 -->
        {% form_field form.first_name class="col-sm-3" %}
        {% form_field form.last_name class="col-sm-3" %}
        {% form_field form.company class="col-sm-6" %}
      </div><!-- /ROW 1 -->
      
      <div class="row"><!-- ROW 2 -->
        {% form_field form.address_1 class="col-sm-6" %}
        {% form_field form.address_2 class="col-sm-6" %}
      </div><!-- /ROW 2 -->
      
      <div class="row"><!-- ROW 3 -->
        {% form_field form.city class="col-sm-6" %}
        {% form_field form.state class="col-sm-4" %}
        {% form_field form.zip class="col-sm-2" %}
      </div><!-- /ROW 3 -->
      
      <div class="row"><!-- ROW 4 -->
        {% form_field form.email class="col-sm-6" %}
        {% form_field form.phone class="col-sm-6" %}
      </div><!-- /ROW 4 -->
      
      <div class="row"><!-- ROW 5 -->
        {% form_field form.comments class="col-sm-12" %}
      </div><!-- /ROW 5 -->
      
      <div class="row"><!-- ROW SUBMIT -->
        <div class="col-sm-8">
          <div class="checkbox">
            <label>{{ form.opt_in }} Yes, I’d like to receive industry-focused newsletters and white papers delivered periodically to my email.</label>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <button type="submit" class="btn btn-primary btn-lg btn-block pull-right">Submit</button>
        </div>
      </div><!-- /ROW SUBMIT -->

      {% endwith %}
    </form>
  </div><!-- /FORM COL-->

  <div class="col-md-4 secPad" >
    <div class="bg-whitepapers">
      <div class="row" >
        <div class="col-md-10 col-md-offset-1">
          <h4 class="strong white">Industry-focused newsletters and white papers</h4>
          <p>Sign up below to periodically receive original content delivered directly to your inbox.</p>
          <form role="form" method="post">{% csrf_token %}
            {% with opt_in_form as form %}
            <input type="hidden" name="type" value="opt-in">
            {% form_field form.first_name %}
            {% form_field form.last_name %}
            {% form_field form.email %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>		
            {% endwith %}
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container containPad visible-xs visible-sm">
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <hr class="divider-brdr-plain">
    </div>
    </div>
  </div>


  <div class="col-md-4 secPad" >
      <label for="firstname">Skinny IT Corporate Headquarters</label>
      <div class="map embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3339.8646018809272!2d-96.82905439999999!3d33.1651813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3ea96f866a6b%3A0x4ea2adedf5640143!2s10570+John+W.+Elliott+Dr%2C+Frisco%2C+TX+75033!5e0!3m2!1sen!2sus!4v1415844323537" ></iframe></div>
      <address>
        <p>10570 John W. Elliott Drive<br>Suite 800<br>Frisco, Texas 75033<br>P: +1 (800) 473-4307</p>
      </address>
  </div>
  </div>
</div>

	
{% endblock %}
