{% load widget_tweaks %}
<div{% if class %} class="{{ class }}"{% endif %}>
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.required %} <span class="required">*</span>{% endif %}</label>
    {% if field.errors %}<p class="help-block">{{ filed.errors.0 }}</p>{% endif %}
    {% render_field field class+="form-control input-lg" %}
  </div>
</div>
