{% extends "skinnyit/section.html" %}
{% block title %}Contact Skinny IT{% endblock %}
{% block header_id %}pgHdrContact{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container containPad">
<div class="row">
<div class="col-md-8 secPad"><!-- This COL is for the 2/3 col for the form -->
<form role="form">
	
		<div class="row"><!-- ROW 1 -->
			<div class="col-sm-3">
		  <div class="form-group">
		    <label for="firstname">First Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="firstname" placeholder="First">
		  </div>
			</div>
			<div class="col-sm-3">
		  <div class="form-group">
		    <label for="lastname">Last Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="lastname" placeholder="Last">
		  </div>
			</div>
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="company">Company <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="company" placeholder="Company, Inc.">
		  </div>
			</div>				
		</div><!-- /ROW 1 -->
		
		<div class="row"><!-- ROW 2 -->
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="address1">Address 1 <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="address1" placeholder="Street Address">
		  </div>
			</div>
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="address2">Address 2</label>
		    <input type="text" class="form-control input-lg" id="address2" placeholder="Suite">
		  </div>
			</div>				
		</div><!-- /ROW 2 -->
		
		<div class="row"><!-- ROW 3 -->
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="city">City <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="city" placeholder="Anycity">
		  </div>
			</div>
			<div class="col-sm-2">
		  <div class="form-group">
		    <label for="state">State</label>
		    <select class="form-control input-lg">
				  <option class="form-control-static">-ST-</option>
				  <option>AL</option>
				  <option>AK</option>
				  <option>AZ</option>
				  <option>AR</option>
				  <option>CA</option>
				  <option>CO</option>
				  <option>CT</option>
				  <option>DE</option>
				  <option>FL</option>
				  <option>GA</option>

				  <option>HI</option>
				  <option>ID</option>
				  <option>IL</option>
				  <option>IN </option>
				  <option>IA</option>
				  <option>KS</option>
				  <option>KY</option>
				  <option>LA</option>
				  <option>ME</option>
				  <option>MD</option>

				  <option>MA</option>
				  <option>MI</option>
				  <option>MN</option>
				  <option>MS</option>
				  <option>MO</option>
				  <option>MT</option>
				  <option>NE</option>
				  <option>NV</option>
				  <option>NH</option>
				  <option>NJ</option>

				  <option>NM</option>
				  <option>NY</option>
				  <option>NC</option>
				  <option>ND</option>
				  <option>OH</option>
				  <option>OK</option>
				  <option>OR</option>
				  <option>PA</option>
				  <option>RI</option>
				  <option>SC</option>

				  <option>SD</option>
				  <option>TN</option>
				  <option>TX</option>
				  <option>UT</option>
				  <option>VA</option>
				  <option>VT</option>
				  <option>WA</option>
				  <option>WV</option>
				  <option>WI</option>
				  <option>WY</option>
				</select>
		  </div>
			</div>				
			<div class="col-sm-4">
		  <div class="form-group">
		    <label for="zip">ZIP</label>
		    <input type="tel" class="form-control input-lg" id="zip" placeholder="00000">
		  </div>
			</div>				
		</div><!-- /ROW 3 -->
		
		<div class="row"><!-- ROW 4 -->
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="email">Email <span class="required">*</span></label>
		    <input type="email" class="form-control input-lg" id="email" placeholder="example@domain.com">
		  </div>
			</div>
			<div class="col-sm-6">
		  <div class="form-group">
		    <label for="phone">Phone <span class="required">*</span></label>
		    <input type="tel" class="form-control input-lg" id="phone" placeholder="555-555-5555">
		  </div>
			</div>				
		</div><!-- /ROW 4 -->
		
		<div class="row"><!-- ROW 5 -->
			<div class="col-sm-12">
		  <div class="form-group">
		    <label for="comments">How can we help you?</label>
		    <textarea class="form-control input-lg" rows="7" id="comments" placeholder="Let us know..."></textarea>
		  </div>
			</div>
		</div><!-- /ROW 5 -->
		
		<div class="row"><!-- ROW SUBMIT -->
			<div class="col-sm-8">
			  <div class="checkbox">
			    <label><input type="checkbox"> Yes, I’d like to receive industry-focused newsletters and white papers delivered periodically to my email.</label>
			  </div>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
			  <button type="submit" class="btn btn-primary btn-lg btn-block pull-right">Submit</button>
			</div>				
		</div><!-- /ROW SUBMIT -->
		
</form>
</div><!-- /FORM COL-->

<!--<div class="col-md-4 secPad" ><!-- This COL is for the 1/3 col for wp's
	<div class="bg-whitepapers">
	<div class="row" >
	<div class="col-md-10 col-md-offset-1">
		<h4 class="strong white">Industry-focused newsletters and white papers</h4>
		<p>Sign up below to periodically receive original content delivered directly to your inbox.</p>
		<form role="form">
		  <div class="form-group">
		    <label for="firstname">First Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="firstname" placeholder="First">
		  </div>
		  <div class="form-group">
		    <label for="lastname">Last Name <span class="required">*</span></label>
		    <input type="text" class="form-control input-lg" id="lastname" placeholder="Last">
		  </div>
		  <div class="form-group">
		    <label for="email">Email <span class="required">*</span></label>
		    <input type="email" class="form-control input-lg" id="email" placeholder="example@domain.com">
		  </div>
		  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>		
		</form>
	</div>
	</div>
	</div>
</div> -->

<div class="container containPad visible-xs visible-sm">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>


<div class="col-md-4 secPad" >
		<label for="firstname">Skinny IT Corporate Headquarters</label>
		<div class="map embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3339.8646018809272!2d-96.82905439999999!3d33.1651813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3ea96f866a6b%3A0x4ea2adedf5640143!2s10570+John+W.+Elliott+Dr%2C+Frisco%2C+TX+75033!5e0!3m2!1sen!2sus!4v1415844323537" ></iframe></div>
		<address>
			<p>10570 John W. Elliott Drive<br>Suite 800<br>Frisco, Texas 75033<br>P: +1 (800) 473-4307</p>
		</address>
</div>
</div>
</div>

	
{% endblock %}
