{% extends "skinnyit/subpage.html" %}
{% block title %}Contact Skinny IT{% endblock %}
{% block header_id %}pgHdrContact{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container containPad">
<div class="row">
<div class="col-md-8 secPad"><!-- This COL is for the 2/3 col for the form -->

  <h2>Thank You!</h2>
  <p>Your contact information has been submitted.</p>

</div><!-- /FORM COL-->

<div class="container containPad visible-xs visible-sm">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>


<div class="col-md-4 secPad" >
		<label for="firstname">Skinny IT Corporate Headquarters</label>
		<div class="map embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3339.8646018809272!2d-96.82905439999999!3d33.1651813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3ea96f866a6b%3A0x4ea2adedf5640143!2s10570+John+W.+Elliott+Dr%2C+Frisco%2C+TX+75033!5e0!3m2!1sen!2sus!4v1415844323537" ></iframe></div>
		<address>
			<p>10570 John W. Elliott Drive<br>Suite 800<br>Frisco, Texas 75033<br>P: +1 (800) 473-4307</p>
		</address>
</div>
</div>
</div>

	
{% endblock %}
