{% extends "skinnyit/subpage.html" %}
{% block title %}Privacy Policy : Skinny IT{% endblock %}
{% block header_id %}{% endblock %}

{% block header_icon %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
	<div class="col-sm-8 secPad">
		<h1>Privacy Policy</h1>
		<p>For the purposes of this Agreement, the following definitions apply and any undefined terms have the meaning ascribed to them in the context in which they are used in this Agreement:</p>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-8 secPad">
		<h2>A. Personally-Identifiable Information</h2>
		<p>Media Temple typically receives specific data about its website visitors only when such information is provided voluntarily, such as when our visitors request information, purchase or enroll for services, open a customer support inquiry ticket, provide resume information for employment opportunities, or send us e-mail. Of course, some of these activities require that you give us information, such as when you make a purchase, use a credit card to pay for services, submit your resume, or request certain types of information. When you provide personally-identifiable information to Media Temple through one of our websites, it will be used to fulfill your specific request. In most cases, you will be given the opportunity to select whether you do, or do not, want Media Temple to use this information for additional purposes.</p>
		<p>Media Temple will not, however, sell or trade your personally-identifiable information unless we are authorized or legally required to do so, or in the case of imminent physical harm to the visitor or others. On those Media Temple sites where you may provide Media Temple with credit card or other ordering information via the web, Media Temple protects and secures this information by employing commercially customary web-based security and encryption protocols, examples of which include Secure Socket Layer (SSL) and Secure Electronic Transaction (SET).</p>

		<h3>Targeted Advertisements</h3>
		<p>Absent any instructions from you, Media Temple may use information you provide to inform you about additional services and products offered by the Media Temple family of companies, Media Temple venture companies, Media Temple authorized agents, and other goods and services providers with whom Media Temple has relationships and whose offerings might be of interest to you.</p>
	</div>
	</div>

	<div class="row">
	<div class="col-sm-8 secPad">
		<h2>B. Non Personally-Identifiable (Generic) Information</h2>
		<p>In general, Media Temple gathers some generic information automatically. Generic information does not reveal the identity of the visitor. It usually includes information about the Internet address assigned to your computer, the number and frequency of visitors, and the Media Temple sites visited. Media Temple gathers this information for the limited purpose of determining customer service and website needs. We accomplish this by using certain technologies, including "cookies" (a technology that can be used to provide the visitor with tailored information about Media Temple services). Media Temple does not combine information collected in this way with any personally-identifiable information.</p>
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
	<div class="col-xs-12">
		<hr class="divider-brdr-plain">
	</div>
	</div>

	<div class="row">
	<div class="col-sm-9">
		<h3>Contacting Us</h3>
		<address>
			<p><span class="strong">Skinny IT Corporate Headquarters</span><br>10570 John W. Elliott Drive<br>Suite 800<br>Frisco, Texas 75033<br>P: +1 (800) 473-4307</p>
		</address>
	</div>
	</div>
</div>

	
{% endblock %}
