{% extends "skinnyit/section.html" %}
{% block title %}Logistics Overview : Skinny IT{% endblock %}
{% block header_id %}pgHdrLogistics{% endblock %}

{% block header_icon %}<img src="{{ STATIC_URL }}skinnyit/images/ico-logistics-white@2x.png" height="90" width="90" alt="Enterprise Resources icon" />{% endblock %}

{% block content %}

<section class="container pgLeadIn">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<h2>We integrate our logistics and repair services to robust engineering, core integration, and supply chain management processes.</h2>
		<p>This combination allows for the assembly, configuration, distribution, and after-market services for and end-of-life management of products to be done faster, at lower cost, and to the highest quality standards.</p>
	</div>
	</div>
</section>

<div class="container">
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<hr class="divider-brdr-plain">
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row">
		<div class="vert-middle col-xs-8 col-xs-offset-2 col-sm-5 col-sm-push-4">
			<img src="{{ STATIC_URL }}skinnyit/images/img-content-logistics@2x.png" class="img-responsive" alt="Logistics provided by Skinny IT" />
		</div><div class="vert-middle col-xs-12 col-sm-5 col-sm-pull-6" >
			<h4 class="strong">Our logistics and repair services include:</h4>
		  <dd>Inventory management</dd>
		  <dd>Reverse and sustaining engineering</dd>
		  <dd>Forward logistics</dd>
		  <dd>After-market Information Technology (IT) solutions</dd>
		  <dd>Green programs</dd>
		</div>
	</div>
</div>

<div class="container containPad blueContainer">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>These services complement a highly flexible and reliable end-to-end integration strategy &mdash; <span class="lightblue">design, engineering, test, supply chain management, logistics, and post integration</span> &mdash; for our customers.</h2>
		<p>In today’s fast-paced and interwoven global economy, companies need to rely on key partnerships to stay competitive and profitable. Skinny IT has consistently delivered comprehensive global solutions to the world’s leading companies.</p>
	</div>
	</div>
</div>

<div class="container containPad">
	<div class="row text-center secPad">
	<div class="col-md-12">
		<img src="{{ STATIC_URL }}skinnyit/images/ico-logistics-shipping@2x.png" width="50" class="img-responsive center-block" alt="Global Shippinh icon" />
		<h2 style="margin-top:0.5em;">Global Shipping</h2>
	</div>
	</div>
	<div class="row secPad">
	<div class="col-sm-4">
		<p>Where do your products need to go? Wherever it is, we can get them there. We ship in bulk volumes to keep your cost-per-unit shipping down. We also support end-of-quarter shipments to help meet sales quotas and get things where they’re going just in time.</p>
	</div>
	<div class="col-sm-4">
		<p>Standard and overnight freight carriers. Preferred transport carriers. Whatever your preference, we’ll make it happen. Our logistics experts will do everything they can to suit your requirements.</p>
	</div>
	<div class="col-sm-4">
		<p>And the bigger your business, the better. We can easily support your worldwide business. We have both the time and the means, not to mention the knowledge, to complete international transactions. <span class="strong">All while saving you money.</span></p>
	</div>
	</div>
</div>

{% endblock %}
